mixin card-slider()

  .card-slider.js-card-slider
  
    .card-slider__item
      img(src='static/img/general/card/1.jpg' alt='ФомЛайн')
    
    .card-slider__item
      img(src='static/img/general/card/2.jpg' alt='ФомЛайн')

  .card-slider-nav
    .card-slider-nav__container

      .card-slider-nav__item.js-card-switch
        img(src='static/img/general/card/min.jpg' alt='ФомЛайн')
        
      .card-slider-nav__item.js-card-switch
        img(src='static/img/general/card/min.jpg' alt='ФомЛайн')     
