mixin page-paginator()

  .page-paginator
    .container
      ul.page-paginator__grid
        li.page-paginator__item
          a(href='#') Главная страница  
          span <i class='mdi mdi-chevron-right'></i>
          a.is-active(href='#') Продукция
      