.page-paginator {
  
  @include font(1.3rem,2.2rem);
  margin: 1.5rem 0;
  color: $color-brand;

  @include mq(sm) {
    margin: 2rem 0;
  }
      
  @include mq(md) {
    margin: 3rem 0;
  }
  
  &__grid {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  }
  
  &__item {
    display: inline-block;
  }
  
  .is-active {
    color: $color-base-light;
  }
  
  span {
    display: inline-block;
    margin: 0 1rem;
    line-height: 1;
    color: $color-base-light;
  }
  
  i {
    position: relative;
    transform: translateY(.1rem);
    line-height: 1;
  }
  
  
}