mixin product-info()


  .section-box--min.typography
    .product-info
      .product-info__container
        p Пены ST или стандартные пены - самая распространенная группа марок плотностью 16-50 кг/м3 и жесткостью от 2.0 кПа (16кг/м3) до 5.0 кПа (50кг/м3). Используются в различных деталях мягкой мебели и товаров для сна. Обладают типичными комфортными свойствами.

        p По соотношению «цена-качество» стандартные пены не имеют аналогов, тем не менее, в процессе эксплуатации они размягчаются быстрее, чем другие категории пен. Стандартные марки пенополиуретана плотностью от 30 кг/м3 и выше обладают хорошими упругими свойствами, низкой остаточной деформацией и особенно подходят для изготовления сидений кресел, диванов, для производства матрасов и наматрасников.

        .section-box--min
          .product-info__grid

            .product-info__grid-item
              .product-info__grid-item-image
                img(src='static/img/general/card/part/1.png' alt='ФомЛайн')
              .product-info__grid-item-title Экологичный


            .product-info__grid-item
              .product-info__grid-item-image
                img(src='static/img/general/card/part/2.png' alt='ФомЛайн')
              .product-info__grid-item-title Экологичный


            .product-info__grid-item
              .product-info__grid-item-image
                img(src='static/img/general/card/part/3.png' alt='ФомЛайн')
              .product-info__grid-item-title Экологичный


            .product-info__grid-item
              .product-info__grid-item-image
                img(src='static/img/general/card/part/4.png' alt='ФомЛайн')
              .product-info__grid-item-title Экологичный


            .product-info__grid-item
              .product-info__grid-item-image
                img(src='static/img/general/card/part/5.png' alt='ФомЛайн')
              .product-info__grid-item-title Экологичный


            .product-info__grid-item
              .product-info__grid-item-image
                img(src='static/img/general/card/part/5.png' alt='ФомЛайн')
              .product-info__grid-item-title Экологичный

        
      
  