mixin document-link-grid()

  .document-link-grid
  
    a.document-link-grid__item(href='#')
      i
      span Sertificat_DQS-ISOTS16949<br>(PDF, 670 Kb)
    
    a.document-link-grid__item(href='#')
      i
      span Sertificat_DQS-ISOTS16949<br>(PDF, 670 Kb)
    
    a.document-link-grid__item(href='#')
      i
      span Sertificat_DQS-ISOTS16949<br>(PDF, 670 Kb)
    
    a.document-link-grid__item(href='#')
      i
      span Sertificat_DQS-ISOTS16949<br>(PDF, 670 Kb)
    
    a.document-link-grid__item(href='#')
      i
      span Sertificat_DQS-ISOTS16949<br>(PDF, 670 Kb)
    
    a.document-link-grid__item(href='#')
      i
      span Sertificat_DQS-ISOTS16949<br>(PDF, 670 Kb)
    
    a.document-link-grid__item(href='#')
      i
      span Sertificat_DQS-ISOTS16949<br>(PDF, 670 Kb)
    
    a.document-link-grid__item(href='#')
      i
      span Sertificat_DQS-ISOTS16949<br>(PDF, 670 Kb)
  