.document-link-grid {

  margin: 4rem 0;
  
  @include mq(sm) {
    @include grid();  
  }
  
  @include mq(md) {
    margin: 7rem 0;
    
  }
  
  
  &__item {
    @include font(1.6rem,2.2rem);
    position: relative;
    display: block;
    margin-bottom: 2rem;

    @include mq(xs) {
      &:last-child {
        margin-bottom: 0;
      } 
    }
    
    @include mq(sm) {
      @include grid-cols(1,2);
      @include grid-col();
      margin-bottom: 3rem;
    }

    @include mq(md) {
      @include grid-cols(1,4);  
      margin-bottom: 4rem;
    }
    
    span {
      display: block;
      padding-left: 3.6rem;
            
      @include mq(sm) {
        padding-left: 1.8rem;
      }
      
    }
    
  }
  
  i {
    position: absolute;
    top: 50%;
    left: 0;
    width: 2.6rem;
    height: 4rem;
    transform: translateY(-50%);
    background: url(../img/general/pdficon.png);
  }
  
  
  &__item-image {
    display: block;
    
    &:not(:last-child) {
      margin-bottom: 2rem;
    }
    
    @include mq(sm) {
      @include grid-cols(1,3);
      @include grid-col();
      margin-bottom: 3rem;
    }
    
    img {
      width: 100%;
      height: auto;
      vertical-align: top;
    }
  }
  
}