.page-search-block {
  position: relative;
  display: none;

  @include mq(md) {
    display: block;
    width: 35rem;
  }   

  > input {
    @include font(1.3rem, 1.3rem);
    display: block;
    padding: 1.2rem 5rem 1.1rem 1.5rem;
    width: inherit;
    border: 1px solid $color-base-lighter;
    color: $color-base;   
  }

  > button {
    position: absolute;
    display: block;
    top: 0;
    right: 0;
    height: 100%;
    padding: 1.2rem 1.5rem 1.1rem;
    color: $color-brand2;

    &:hover {
      color: $color-brand;
    }

    > i {
      @include font(2rem, 2rem);
    }
  }  
  
  &--min {
    @include mq(md) {
      width: 25.5rem;
    }    
  }
  
  &--search-page {
    display: block;
    width: 100%;
  }

}