mixin branches()

  section.branches
    .container
      .branches__grid
        .branches__content.typography
          h2.branches__content-title Где купить
          p <a href='#'>«ФомЛайн» сегодня</a> — это современная производственная компания с широкой <a href='#'>региональной сетью</a> из 10 заводов, 6 резательных центров и 124 дилеров.
          
          p Информацию о стоимости моделей, вариантах пен,<br>доступных цветах, а также о сроках производства вы можете уточнить в ближайшей точке продажи.
          
          .branches__content-reed-more
            a.gui-link-button(href='#') Узнать больше о продажах <i class='mdi mdi-chevron-right'></i>
        
        
        .branches__map
          img(src='static/img/general/map.png' alt='Карта филиалов ФомЛайн')
        
        
    
    