mixin history-chart()

  section.history-chart
    .history-chart__image-block
      img(src='static/img/general/history.jpg' class='history-chart__image-desktop' alt='fline')
      img(src='static/img/general/history-p.jpg' class='history-chart__image-pad' alt='fline')
      
      .history-chart__content
        .container
          h2.history-chart__title История компании

          .history-chart__grid
          
            .history-chart__grid-item
              .history-chart__grid-item-elips
                .history-chart__grid-item-elips-box
                  span 1916
              .history-chart__grid-item-title Начало строительства<br>порохового завода<br>в урочище Крестов Брод
              .history-chart__footer
                img(src='static/img/general/el/bottom.png' alt='fline')
    
            .history-chart__grid-item
              .history-chart__grid-item-elips
                .history-chart__grid-item-elips-box
                  span 1956
              .history-chart__grid-item-title Выпуск первого поролона<br>в СССР на Рошальском<br>химическом комбин
              .history-chart__grid-item-description (кабина корабля «Восток» под<br>управлением Ю. Гагарина была<br>облицована поролоном производства<br>будущего завода Фомлайн г.Рошаль)
              .history-chart__footer
                img(src='static/img/general/el/bottom.png' alt='fline')     
                       
            .history-chart__grid-item
              .history-chart__grid-item-elips
                .history-chart__grid-item-elips-box
                  span 2001
              .history-chart__grid-item-title Завод ООО «РИФ «Аметист»<br>(нынешний завод Фомлайн<br>в г.Рошаль) стал частью компании Фомлайн
              .history-chart__footer
                img(src='static/img/general/el/bottom.png' alt='fline')
                      
            .history-chart__grid-item
              .history-chart__grid-item-elips
                .history-chart__grid-item-elips-box
                  span 2017
              .history-chart__grid-item-title 10 заводов,<br>6 собственных резательных<br>центров, самая широкая<br>дилерская сеть
              .history-chart__footer