.footer {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  background: $color-bg-alternate;
  
  &__navigate {
    border-bottom: 1px solid $color-f-border;
  }
  
  
  &__navigate-menu {
    @include mq(md) {
      display: flex;
      justify-content: space-between;
    }
  }
  
  &__navigate-menu-item {
    display: block;
    text-align: center;
      
    @include mq(xs) {
      display: none;
      
      &:first-child {
        display: block;
      }
    }    
          
    @include mq(sm) {
      display: none;
      
      &:first-child {
        display: block;
      }
    }    
    
    @include mq(md) {
      display: block;
    }
    
    
    
      &:not(:first-child) {
        a {
          padding: 2.5rem 0 2rem;
        }

      }
      
      &:first-child {
        a {
          padding: 1.5rem 0 1.5rem;
        }

      }
    
    
    &:hover {
      
      &:not(:first-child) {
        a {
          color: $color-brand;
  //        border-color: $color-brand;

          &:before,
          &:after {
            width: 100%;
          }
        }
      }
    }
    
    
    a {
      @include font(1.4rem, 1.4rem);
      position: relative;
      display: inline-block;
      color: $color-base;
      font-weight: 700;
      text-transform: uppercase;
      
      &:before,
      &:after {
        position: absolute;
        display: block;
        bottom: -.1rem;
        width: 0;
        height: .3rem;
        background: $color-brand;
        transition: $transition-duration-base;
        content: '';
      }
      
      &:before {
        left: 50%;
        transform: translate(-50%,0);
      }      
      &:after {
        right: 50%;
        transform: translate(50%,0);
      }
      
    }
    
    img {
      vertical-align: top;
      max-width: 100%;
 
      @include mq(xs) {
       max-height: 2rem; 
      } 
    }
  }
  
  
  &__production-menu-container {
    
    border-bottom: 1px solid $color-f-border;

    @include mq(xs) {
      padding: 1.6rem 0;
    }  
    
    @include mq(md) {
      display: flex;
      flex-wrap: nowrap;
      justify-content: space-between;
      padding: 4rem 0 3.9rem;
    }  
    
    @include mq(sm) {
      display: flex;
      flex-wrap: nowrap;
      justify-content: space-between;
      padding: 4rem 0 3.9rem;
    }  
    
  }
  
  &__prodiction-menu-box {
    
    @include mq(md) {
      @include grid();
      width: 52%;
      flex-wrap: nowrap;
    } 
        
    @include mq(sm) {
      width: 50%;
    } 
    
    &--min {
      
      @include mq(md) {
        width: 48%;
      }
            
      @include mq(sm) {
        width: 50%;
      }
      
    }
    
    .is-active {
      ul {
        display: block;
      }
      h5 i {
        color: $color-base-light;
      }
      
    }
  }
    
  &__production-menu-item {
    
    @include mq(xs) {
      margin-bottom: 1rem;
    }
    
    
    @include mq(md) {
      @include grid-cols(1,2);   
      @include grid-col();   
    }

    
    > h5 {
      br {
        display: none;
      }
      
      @include mq(xs) {
        margin-bottom: 1rem; 
        white-space: nowrap;
      }       
      @include mq(md) {
        margin-bottom: 1rem; 
        br {
          display: block;
        }
      } 
    }
    
    i {
      position: relative;
      display: none;
      color: $color-brand2;
    
      @include mq(xs) {
        @include font(2rem,2rem);
        top: .3rem;
        display: inline-block;
      } 
                 
      @include mq(sm) {
        @include font(2rem,2rem);
        top: .3rem;
        display: inline-block;
      }  
      
      @include mq(md) {
        display: none;
      } 
      
    }
    
      
    ul {
      display: none;
      
      @include mq(xs) {
        margin: 1rem 0;
      }   
            
      @include mq(sm) {
        margin: 1rem 0;
      }   
      
      @include mq(md) {
        display: block;
      }
    }
    
    li {
      a {
        @include font(1.3rem,1.6rem);
        color: $color-base;
        
        &:hover {
          color: $color-brand;
        }
      }

      &:not(:last-child) {
        margin-bottom: 1rem;
      }
      
      @include mq(md) {
        &:not(:last-child) {
          margin-bottom: 1rem;
        }
      } 
    }
   

    
    
  }
  
  &__information-block {
    
  }
  
  &__information-block-container {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    padding: 2rem 0 2rem;
    border-bottom: 1px solid $color-f-border;
 
    @include mq(sm) {
      flex-direction:row;
      justify-content: space-between;
      padding: 1.5rem 0 1.5rem;
    }
    
    
    @include mq(md) {
      flex-direction:row;
      justify-content: space-between;
      padding: 3.9rem 0 4rem;
    }
       
  }
  
  &__feedback-link {
    @include font(1.3rem, 2rem);
    display: inline-block;
    color: $color-brand;
    white-space: nowrap;
    
    @include mq(sm) {
      @include font(1.3rem, 4.2rem);
      margin-left: 3rem;
    
			i {
				@include font(1.8rem, 1.8rem);
				top:.2rem;
			}
    }
        
    @include mq(md) {
      @include font(1.8rem, 4.2rem);
      margin-left: 3rem;
    
			i {
				@include font(2.4rem, 2.4rem);
				top:.2rem;
			}
    }
    
    i {
      @include font(1.8rem, 1.8rem);
      position: relative;
      top:.2rem;
    }
    
    span {
      text-decoration: underline;
    }
  }
    
  &__site-map-link {
    @include font(1.3rem, 3rem);
    display: inline-block;
    margin: 0 3rem;
    color: $color-brand;
    white-space: nowrap;

    @include mq(xs) {
      margin: 0;
    }
		
    @include mq(sm) {
			@include font(1.3rem,4rem);
    }
    		
    @include mq(md) {
			@include font(1.3rem,4rem);
    }
    
    i {
      @include font(2.4rem, 2.4rem);
      position: relative;
      top:.2rem;
    }
    
    span {
      text-decoration: underline;
    }
  }
  
  
  &__social-link-block {
    display: none;
//    display: flex;
    align-items: center;
    
    
    @include mq(sm) {
        display: none;
    }
    
    @include mq(md) {
        margin: 0 5rem;
    }
    
    a {
      
      &:not(:last-child) {
        margin-right: 1.5rem;
        }

      i {
        color: $color-base-lighter;
        
        @include mq(md) {
          @include font(2rem,2rem);
        }
      }
      
      .mdi-facebook {
        &:hover {
          color: #3b5998;
        }
      }
      .mdi-twitter {
        &:hover {
          color: #1da1f2;
        }
      }
      .mdi-vk {
        @include font(2.4rem,2.4rem);
        
        &:hover {
          color: #507299
        }
      }
      .mdi-instagram {
        &:hover {
          color: #bc307e
        }
      }
      .mdi-google-plus {
        @include font(2.4rem,2.4rem);
        
        &:hover {
          color: #dd5044;
        }
      }
    }   
  }
  
  
  &__realweb {
    @include font(1.3rem,3rem);
    @include hover(color,$color-base);
    font-family: Segoe,Segoe UI,Optima,Arial,sans-serif;
    color: $color-base;
    white-space: nowrap;

    
    b {
      font-weight: 400;
    }
    
    &:hover {
      
      b {
        color: #0063c6;
      }
      
      span {
        color: #df0001;
      }
    }
    
    @include mq(sm) {
			@include font(1.3rem,4rem);
    }
		    
    @include mq(md) {
			@include font(1.3rem,4rem);
      margin-right: 5.5rem;
    }
		
  }
  
  &__copyright {
    @include font(1.3rem,3rem);
    white-space: nowrap;
		
    @include mq(sm) {
			@include font(1.3rem,4rem);
    }
		
    @include mq(md) {
			@include font(1.3rem,4rem);
    }

  }
  
  &__search-switch {
    position: relative;
    display: inline-block;
        
    @include mq(md) {
      display: none;
    }
    

    i {
      @include font(3.2rem,3.2rem);
      position: relative;
      top: .2rem;
      
      color: $color-brand2;
      
      @include mq(sm) {
        @include font(3.6rem,3.6rem);
        top: .4rem;
      }
    }  
  }
  
  
  &__burger-box {
    display: inline-block;
    
    @include mq(xs) {
      display: flex;
      padding: .6rem 0;
    }
        
    @include mq(sm) {
      display: flex;
      align-self: center;
      padding: 2rem;
    }
    
    @include mq(md) {
      display: none;
    } 
    
    a {
      position: relative;
      display: block;
      width: 2.6rem;
      height: 2rem;
      
      span {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: .3rem;
        border-radius: 2px;
        background: $color-brand2;
        
        &:before,
        &:after {
          position: absolute;
          top: .8rem;
          left: 0;
          width: 100%;
          height: 100%;
          border-radius: 2px;
          background: $color-brand2;
          content: '';
        }
                
        &:after {
          position: absolute;
          top: 1.6rem;
          left: 0;
          width: 100%;
          height: 100%;
          border-radius: 2px;
          background: $color-brand2;
        }    
      }
    } 
  }
  
  &__navigate-menu-box {
    
    @include mq(xs) {
      display: flex;
      justify-content: space-between;
      align-items: center;
    } 
        
    @include mq(sm) {
      display: flex;
      justify-content: space-between;
      align-items: center;
    } 
        
    @include mq(md) {
      display: block;
    } 
    
  }
  
}





