mixin footer(data)
  footer.footer#footer
    nav.footer__navigate
      .container
        ul.footer__navigate-menu

          li.footer__navigate-menu-item.footer__navigate-menu-item--burger.not-desktop
            a(href='#')
              img(src='static/img/general/logo-footer.png' alt='ФомЛайн')


          li.footer__navigate-menu-item
            a(href='#')
              img(src='static/img/general/logo-footer.png' alt='ФомЛайн')


          li.footer__navigate-menu-item
            a(href='#') Продукция  

          li.footer__navigate-menu-item
            a(href='#') О компании

          li.footer__navigate-menu-item
            a(href='#') Документация

          li.footer__navigate-menu-item
            a(href='#') Где купить

          li.footer__navigate-menu-item
            a(href='#') Новости

          li.footer__navigate-menu-item
            a(href='#') Парнерам

          li.footer__navigate-menu-item
            a(href='#') Контакты
            
            
          li.footer__navigate-menu-item.footer__navigate-menu-item--search.not-desktop
            a(href='#') Контакты
            
    .footer__production-menu-block
      .container
        .footer__production-menu-container
          .footer__prodiction-menu-box
          
            .footer__production-menu-item
            
              h5.js-production-menu Мебельные пены <i class='mdi mdi-chevron-right'></i>
              
              ul

                li 
                  a(href='#') Стандартный поролон

                li 
                  a(href='#') Высокоэластичные пены

                li 
                  a(href='#') С памятью формы

                li 
                  a(href='#') Латексноподобные

          
            .footer__production-menu-item
            
              h5.js-production-menu Наполнение для матрасов<br>и подушек <i class='mdi mdi-chevron-right'></i>
              
              ul

                li 
                  a(href='#') Однослойные матрасы

                li 
                  a(href='#') Многослойные матрасы 

                li 
                  a(href='#') Формованные подушки

                li 
                  a(href='#') Резанные подушки

        
          .footer__prodiction-menu-box.footer__prodiction-menu-box--min
          
            .footer__production-menu-item
            
              h5.js-production-menu Виды продукции <i class='mdi mdi-chevron-right'></i>
              
              ul

                li 
                  a(href='#' target='_blank') Контурные детали

                li 
                  a(href='#' target='_blank') Формованные детали

                li 
                  a(href='#' target='_blank') Рулонные поролон

                li 
                  a(href='#' target='_blank') Листы

                li 
                  a(href='#' target='_blank') Блоки

          
            .footer__production-menu-item
            
              h5.js-production-menu Специальная продукция<br>и детали <i class='mdi mdi-chevron-right'></i>
              
              ul

                li 
                  a(href='#') Губочные цветные пены

                li 
                  a(href='#') Вторично-вспененный ППУ

                li 
                  a(href='#') Огневое дублирование и триплирование 


      .footer__information-block
        .container
        
          .footer__information-block-container
          
            form.page-search-block.page-search-block--min
              input(type='search' placeholder='Поиск')
              button
                i.mdi.mdi-magnify        
                
            a.footer__feedback-link(href='#')
              i.mdi.mdi-telegram 
              span Обратная связь
                              
            a.footer__site-map-link(href='#') 
              span Карта сайта
              
            .footer__social-link-block
            
              a(href='#')
                i.mdi.mdi-facebook

              a(href='#')
                i.mdi.mdi-twitter

              a(href='#')
                i.mdi.mdi-vk

              a(href='#')
                i.mdi.mdi-instagram

              a(href='#')
                i.mdi.mdi-google-plus
                
            a.footer__realweb(href='#') Создание сайта - <b>риал</b><span>веб</span>
            .footer__copyright &copy; 2017 Компания “ФомЛайн”
              
              




      
    