.contact-link-block {
  
  
  &__link {
    @include font(1.3rem,1.8rem);
    position: relative;
    display: block;
    padding-left: 3rem;
    color: #747474;
    
    &:not(:last-child) {
      margin-bottom: 1.5rem;
    }
    
    &:hover {
      color: $color-brand;
    }
    
    i {
      @include font(2.2rem,2.2rem);
      position: absolute;
      top: -.1rem;
      left: 0;
      color: $color-brand;
    }
  }

  
  &--typography {
    
    .contact-link-block__link {
      a {
        color: $color-brand;
        text-decoration: underline;
      }
    }

    
    @include mq(sm) {
    
      .contact-link-block__link {
        @include font(1.6rem,2.1rem);
        position: relative;
        display: block;
        padding-left: 3.6rem;
        color: #747474;
        
        &:hover {
          color: #747474; 
        }

        &:not(:last-child) {
          margin-bottom: 1.5rem;
        }


        i {
          @include font(2.8rem,2.8rem);
          position: absolute;
          top: -.1rem;
          left: 0;
          color: $color-brand;
        }
      }
      
    }
  }
  
}