/*-----------------*/
/***** Apollo *****/
/*-----------------*/

.category-menu-block__item-box {
	background: #3498db;
  overflow: hidden;
}

.category-menu-block__item-box img {
	opacity: 0.95;
	-webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
	transition: opacity 0.35s, transform 0.35s;
	-webkit-transform: scale3d(1.05,1.05,1);
	transform: scale3d(1.05,1.05,1);
}

.category-menu-block__item-box .category-menu-block__item-content::before {
	position: absolute;
	top: 0;
	left: 0;
	width: 120%;
	height: 120%;
	background: rgba(255,255,255,0.5);
	content: '';
	-webkit-transition: -webkit-transform 0.6s;
	transition: transform 0.6s;
	-webkit-transform: scale3d(1.9,1.4,1) rotate3d(0,0,1,45deg) translate3d(0,-120%,0);
	transform: scale3d(1.9,1.4,1) rotate3d(0,0,1,45deg) translate3d(0,-120%,0);
}

.category-menu-block__item-box ul {
	text-align: right;

	-webkit-transition: opacity 0.35s;
	transition: opacity 0.35s;
}

//.category-menu-block__item-box h2 {
//	text-align: left;
//}

.category-menu-block__item-box:hover img {
	opacity: 0.6;
	-webkit-transform: scale3d(1,1,1);
	transform: scale3d(1,1,1);
}

.category-menu-block__item-box:hover .category-menu-block__item-content::before {
	-webkit-transform: scale3d(1.9,1.4,1) rotate3d(0,0,1,45deg) translate3d(0,120%,0);
	transform: scale3d(1.9,1.4,1) rotate3d(0,0,1,45deg) translate3d(0,120%,0);
}

.category-menu-block__item-box:hover p {
	opacity: 1;
	-webkit-transition-delay: 0.1s;
	transition-delay: 0.1s;
}
