mixin news-block()

    section.section-box
      .container
        .news-block
        
          .news-block__top-notice-box
            a.news-block__notice-link(href='#')
              .news-block__image-box
                img(src='static/img/general/news-1.jpg' alt='ФомЛайн')
                time.news-block__top-notice-date(datetime="2016-11-12") 12 ноября 2016
              h3.news-block__notice-title Компания «ФомЛайн» на 28-й международной выставке «Мебель-2016»
              
          .news-block__notice-box
            .news-block__notice-box-grid

              .news-block__notice
                a.news-block__notice-link(href='#')
                  time.news-block__notice-date(datetime="2016-11-12") 12 ноября 2016
                  h3.news-block__notice-title Компания «ФомЛайн» на 28-й международной выставке «Мебель-2016»
                  p.news-block__notice-description 23-27 ноября 2015 года в московском «Экспоцентре» на Красной Пресне состоится очередная...

              .news-block__notice
                a.news-block__notice-link(href='#')
                  time.news-block__notice-date(datetime="2016-11-11") 11 ноября 2016
                  h3.news-block__notice-title Компания «ФомЛайн» на 28-й международной выставке «Мебель-2016»
                  p.news-block__notice-description 23-27 ноября 2015 года в московском «Экспоцентре» на Красной Пресне состоится очередная...

              .news-block__notice
                a.news-block__notice-link(href='#')
                  time.news-block__notice-date(datetime="2016-11-10") 10 ноября 2016
                  h3.news-block__notice-title Компания «ФомЛайн» на 28-й международной выставке «Мебель-2016»
                  p.news-block__notice-description 23-27 ноября 2015 года в московском «Экспоцентре» на Красной Пресне состоится очередная...

              .news-block__notice
                a.news-block__notice-link(href='#')
                  time.news-block__notice-date(datetime="2016-11-10") 10 ноября 2016
                  h3.news-block__notice-title Компания «ФомЛайн» на 28-й международной выставке «Мебель-2016»
                  p.news-block__notice-description 23-27 ноября 2015 года в московском «Экспоцентре» на Красной Пресне состоится очередная...

