mixin about-security()

  .section-box.about-security.section-box--min
    .container
      .about-security__grid
        .about-security__content
        
          h2.about-security__title Безопасность
          
          .typography
          
            p Пенополиуретан – один из самых безопасных и гипоалергенных материалов.  Поэтому мебель и матрасы из него не выделяют никаких вредных веществ, тем самым не оказывая вредного воздействия на здоровье человека и окружающую среду.

            p Продукция заводов Фомлайн в городах Рошаль и Санкт-Петербург обладает европейским сертификатом CertiPur, что означает гарантию безопасности пены, которая использована в матрасе или мягкой мебели.
          
          
