.about-security {
  margin-bottom: 0;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #f9f9f9;
  
  
  @include mq(xs) {
    padding: 3rem 0;
    background-color: #f9f9f9;
  }
      
  @include mq(sm) {
    padding: 5rem 0;
    background-image: url(../img/general/sec-p.jpg);
  }
    
  @include mq(md) {
    padding: 7rem 0;
    background-image: url(../img/general/sec-d.jpg);
  }
  
  &__grid {
    position: relative;
    
    &:before {
      position: absolute;
      left: 0;
      top: 0;
      background-position: 50% 50%;
      background-repeat: no-repeat;
      background-size: contain;
      background-image: url(../img/general/sec-icon.png);
      content: '';
      z-index: 0;
      
      @include mq(sm) {
        transform: translate(-60%,-30%);
        width: 4.2rem;
        height: 9rem;
      }
      
    }
    
    @include mq(sm) {
      display: flex;
      align-items: stretch;
    }
  }
  
  
  &__content {
    position: relative;
    z-index: 100;
    

    
    @include mq(sm) {
      width: 37rem;
      padding-right: 3rem;
    } 
        
    @include mq(md) {
      width: 54rem;
      padding-right: 3rem;
    } 
    
    p {
      z-index: 10;
      
      @include mq(md) {
      @include font(20px,30px);
      }
    }
  }
  
    
  &__image {
    
    @include mq(sm) {
      flex: 1;
      width: 100%;
    } 
    
    
    img {
      width: 100%;
      height: auto; 
      vertical-align: top;
    }
  }
  
  &__title {
    margin-bottom: 2rem;
    z-index: 10;
    
    @include mq(sm) {
      margin-bottom: 2.5rem
    }     
    @include mq(md) {
      margin-bottom: 4rem
    } 
  }
  
  
  
  
}