mixin about-chart()

  .section-box
    .container
      .about-chart
        .about-chart__background-block
          img(src='static/img/general/aboutbg.png' class='about-chart__image-bg' alt='О Фомлайн')
          .about-chart__grid-box
          
          
            .about-chart__grid-block

              .adventage-block.adventage-block--about-page

                .adventage-block__item
                  .adventage-block__item-image
                    img(src='static/img/general/about/1.jpg' alt='ФомЛайн')
                  .adventage-block__item-title 10 заводов: Россия,<br>Казахстан, Сербия

                .adventage-block__item
                  .adventage-block__item-image
                    img(src='static/img/general/about/2.jpg' alt='ФомЛайн')
                  .adventage-block__item-title Более 1000 клиентов<br>во всех регионах
          
          
          
          
            .about-chart__grid-block

              .adventage-block.adventage-block--about-page

                .adventage-block__item
                  .adventage-block__item-image
                    img(src='static/img/general/about/3.jpg' alt='ФомЛайн')
                  .adventage-block__item-title 10 лабораторий и<br>1 центр исследования<br>и разработок 

                .adventage-block__item
                  .adventage-block__item-image
                    img(src='static/img/general/about/4.jpg' alt='ФомЛайн')
                  .adventage-block__item-title 124 официальных<br>дилера
          
          
          
          
            .about-chart__grid-block

              .adventage-block.adventage-block--about-page

                .adventage-block__item
                  .adventage-block__item-image
                    img(src='static/img/general/about/5.jpg' alt='ФомЛайн')
                  .adventage-block__item-title 6 резательных<br>центров

                .adventage-block__item
                  .adventage-block__item-image
                    img(src='static/img/general/about/6.jpg' alt='ФомЛайн')
                  .adventage-block__item-title Более 1500<br>профессиональных<br>сотрудников
          
          
