.about-chart {
  position: relative;
  
  
  @include mq(sm) {
    margin-bottom: 5rem;  
  }
    
  @include mq(md) {
    margin-bottom: 0;  
  }
  
  &__background-block {
    display: block;
    
    img {
      width: 100%;
      height: auto;
      vertical-align: top;
      

    }
  }
  
  &__image-bg {
    @include mq(xs) {
      display: none;
    }
  }
  
  
  &__grid-box {
    
    @include mq(sm) {
      @include size(100%);
      position: absolute;
      top: 0;
      left: 0;  
      display: flex;
      flex-direction: column;
    }
  }
  
  &__grid-block {
    
    @include mq(sm) {
      
      &:nth-child(1) {
        transform: translate(0,-20%);
      }  
            
      &:nth-child(2) {
        position: absolute;
        left: 0;
        top: 50%;
        width: 100%;
        transform: translate(0,-50%);
      }        
      
      &:nth-child(3) {
        margin-top: auto;
        transform: translate(0,30%);
      } 
    }
        
    @include mq(md) {
      
      &:nth-child(1) {
        transform: translate(0,-20%);
      }  
            
      &:nth-child(2) {
        position: absolute;
        left: 0;
        top: 50%;
        width: 100%;
        transform: translate(0,-55%);
      }        
      
      &:nth-child(3) {
        margin-top: auto;
        transform: translate(0,10%);
      } 
    }
    
    .adventage-block__item {
      @include mq(sm) {
        @include grid-cols(1,4);
        @include grid-col();
        margin-bottom: 0;
      }
    }
    
    .adventage-block__item-image img {
      max-width: 8.4rem;
    
      @include mq(md) {
        max-width: 100%;
      } 
      
    }
  }
  
  


}