doctype html
html(class="no-js", lang="ru")

  include ../components/head/head
  include ../components/example/example
  include ../components/header/header
  include ../components/footer/footer
  include ../components/navigate/navigate
  include ../components/slider/slider
  include ../components/slider/slider-two
  include ../components/category-menu-block/category-menu-block
  include ../components/download-catalog-block/download-catalog-block
  include ../components/branches/branches
  include ../components/news-block/news-block
  include ../components/back-to-top/back-to-top

  head
    +head(head.defaults)
  body.page#top
    |%=symbols=%
    +header()
    main.page__wrapper#main
      +slider()
      +category-menu-block()
      +branches()
      +slider-two()
      +news-block()
      .section-box
        .container
          article.index-about.typography.js-index-about-content
          
            .index-about__hidden-content.js-index-about__hidden-content
          
              h3 FoamLine производство поролона в России

              p Что такое «качество жизни»? В первую очередь – это комфорт и безопасность каждого человека дома, на работе и отдыхе. Пора заботиться о своих покупателях и расширять границы бизнеса. 

              p Фабрики по производству пенополиуретана FoamLine выпускают надежные поролоны на основе сложных полиэфиров для мебели и матрасов. ЭППУ этого бренда широко применяются в строительной, автомобильной, аэрокосмической, оборонной и других отраслях промышленности, в здравоохранении, судостроении и сельском хозяйстве. 

              h3 Наша продукция

              p Пенополиуретаны завода изготовителя FoamLine сертифицированы в соответствии с европейским стандартом безопасности CertiPUR®. ЭППУ произведены без применения антипиренов, ртути, свинца, формальдегида, фталатов и других вредных веществ.


              ul

                li Пена 7th SKY с выраженными комфортными и анатомическими свойствами. Великолепная теплопроводность, открытая структура ячеек обеспечивают оптимальный режим поддержки тела и максимальное расслабление мышц. Эта инновационная эластичная пена для матрасов обладает терморегуляцией, создает комфортный влаготемпературный микроклимат для спящего, заботится о здоровье позвоночника и суставов. 

                li Anatomic Comfort. Вязкоэластичные пены для матрасов с улучшенными свойствами статистической и динамической усталости. Открытая структура ячеек поролона пропускает от тела спящего тепловой поток, не позволяя высоким температурам скапливаться на ее поверхности. 

                li ST-foam. Стандартные ЭППУ с хорошими комфортными и упругими свойствами, низкой остаточной деформацией. Мебель, изготовленная с использованием таких материалов, обеспечивает комфорт и анатомическую поддержку взрослого и ребенка. Материал подходит для подголовников, подлокотников, дачной, детской мебели, матрасов с коротким сроком эксплуатации, а также в качестве обивки и упаковки. 

          
            .typography__content-reed-more.typography__content-reed-more--center-mode
              a.gui-link-button.js-open-content(href='#') 
                span.index-about__switch.index-about__switch--not-mobile.index-about__switch--is-hidden Узнать больше о компании "ФомЛайн" <i class='mdi mdi-chevron-right'></i>
                span.index-about__switch.index-about__switch--is-mobile.index-about__switch--is-hidden О компании "ФомЛайн" <i class='mdi mdi-chevron-right'></i>
                span.index-about__switch.index-about__switch--is-open Закрыть <i class='mdi mdi-close-circle-outline'></i>
                
             
    +footer()
    +back-to-top()

    script(src='%=static=%js/separate-js/svg4everybody.min.js')
    script svg4everybody();

    //- Main scripts. You can replace it, but I recommend you to leave it here
    script(src='%=static=%js/main%=hash=%%=min=%.js')