doctype html
html(class="no-js", lang="ru")

  include ../components/head/head
  include ../components/example/example
  include ../components/header/header
  include ../components/footer/footer
  include ../components/navigate/navigate
  include ../components/slider/slider
  include ../components/slider/slider-three
  include ../components/category-menu-block/category-menu-block
  include ../components/download-catalog-block/download-catalog-block
  include ../components/branches/branches
  include ../components/page-paginator/page-paginator
  include ../components/title-block/title-block

  head
    +head(head.defaults)
  body.page
    |%=symbols=%
    +header()
    main.page__wrapper#main
      +page-paginator()
      
      
      section
        .container
          .title-block
            .title-block__grid 
              h1.title-block__title Продукция

              a.title-block__button-link(href='#' download)
                i
                p <span> Скачать весь каталог продукции в</span> PDF (590 Кб)
          
          section.section-box.section-box--min.typography
            h2 Мебельная пена <i class='mdi mdi-chevron-right'></i>
            p Благодаря отличительным особенностям пенополиуретана, он стал одним из наиболее популярных материалов, которые используются во многих отраслях современной промышленности. Наиболее широкое и многофункциональное применение нашел поролон для мебели. Он идеально подходит для производство мягких диванов, кресел и стульев.
          
          .section-box.section-box--min

            .category-menu-block
              .category-menu-block__item
                .category-menu-block__item-box
                  img(src='static/img/general/category1.jpg' alt='ФомЛайн')
                  .category-menu-block__item-content
                    h3.category-menu-block__category-title Стандартный поролон <i class='mdi mdi-chevron-right'></i>

                    ul.category-menu-block__subcategories-menu.category-menu-block__subcategories-menu--size

                      li
                        a(href='#') <i class='mdi mdi-chevron-right'></i> st

                      li
                        a(href='#') <i class='mdi mdi-chevron-right'></i> xl

                      li
                        a(href='#') <i class='mdi mdi-chevron-right'></i> el

                      li
                        a(href='#') <i class='mdi mdi-chevron-right'></i> hs

              .category-menu-block__item
                .category-menu-block__item-box
                  img(src='static/img/general/category3.jpg' alt='ФомЛайн')
                  .category-menu-block__item-content
                    h3.category-menu-block__category-title Высокоэластичные пены (HR) <i class='mdi mdi-chevron-right'></i>

                    ul.category-menu-block__subcategories-menu

                      li
                    ul.category-menu-block__subcategories-menu.category-menu-block__subcategories-menu--size

                      li
                        a(href='#') <i class='mdi mdi-chevron-right'></i> st

                      li
                        a(href='#') <i class='mdi mdi-chevron-right'></i> xl

                      li
                        a(href='#') <i class='mdi mdi-chevron-right'></i> el

                      li
                        a(href='#') <i class='mdi mdi-chevron-right'></i> hs

              .category-menu-block__item
                .category-menu-block__item-box
                  img(src='static/img/general/category2.jpg' alt='ФомЛайн')
                  .category-menu-block__item-content
                    h3.category-menu-block__category-title С памятью формы (LR) <i class='mdi mdi-chevron-right'></i>

                    ul.category-menu-block__subcategories-menu

                      li
                    ul.category-menu-block__subcategories-menu.category-menu-block__subcategories-menu--size

                      li
                        a(href='#') <i class='mdi mdi-chevron-right'></i> st

                      li
                        a(href='#') <i class='mdi mdi-chevron-right'></i> xl

                      li
                        a(href='#') <i class='mdi mdi-chevron-right'></i> el

                      li
                        a(href='#') <i class='mdi mdi-chevron-right'></i> hs

              .category-menu-block__item
                .category-menu-block__item-box
                  img(src='static/img/general/category4.jpg' alt='ФомЛайн')
                  .category-menu-block__item-content
                    h3.category-menu-block__category-title Латексноподобные (LL) <i class='mdi mdi-chevron-right'></i>

                    ul.category-menu-block__subcategories-menu

                    ul.category-menu-block__subcategories-menu.category-menu-block__subcategories-menu--size

                      li
                        a(href='#') <i class='mdi mdi-chevron-right'></i> st

                      li
                        a(href='#') <i class='mdi mdi-chevron-right'></i> xl

                      li
                        a(href='#') <i class='mdi mdi-chevron-right'></i> el

                      li
                        a(href='#') <i class='mdi mdi-chevron-right'></i> hs


            .section-box.section-box--min.typography
              h2 Наполнение для матрасов и подушек <i class='mdi mdi-chevron-right'></i>
              p Изучив мировой опыт производителей матрасов, наши специалисты разработали для вашего бизнеса несколько коллекций матрасных заготовок на основе эластичных пен, а также заготовки подушек и топперов.  

            .category-menu-block
              .category-menu-block__item
                .category-menu-block__item-box
                  img(src='static/img/general/category1.jpg' alt='ФомЛайн')
                  .category-menu-block__item-content
                    h3.category-menu-block__category-title Стандартный поролон <i class='mdi mdi-chevron-right'></i>

                    ul.category-menu-block__subcategories-menu.category-menu-block__subcategories-menu--size

                      li
                        a(href='#') <i class='mdi mdi-chevron-right'></i> st

                      li
                        a(href='#') <i class='mdi mdi-chevron-right'></i> xl

                      li
                        a(href='#') <i class='mdi mdi-chevron-right'></i> el

                      li
                        a(href='#') <i class='mdi mdi-chevron-right'></i> hs

              .category-menu-block__item
                .category-menu-block__item-box
                  img(src='static/img/general/category3.jpg' alt='ФомЛайн')
                  .category-menu-block__item-content
                    h3.category-menu-block__category-title Высокоэластичные пены (HR) <i class='mdi mdi-chevron-right'></i>

                    ul.category-menu-block__subcategories-menu

                      li
                    ul.category-menu-block__subcategories-menu.category-menu-block__subcategories-menu--size

                      li
                        a(href='#') <i class='mdi mdi-chevron-right'></i> st

                      li
                        a(href='#') <i class='mdi mdi-chevron-right'></i> xl

                      li
                        a(href='#') <i class='mdi mdi-chevron-right'></i> el

                      li
                        a(href='#') <i class='mdi mdi-chevron-right'></i> hs

              .category-menu-block__item
                .category-menu-block__item-box
                  img(src='static/img/general/category2.jpg' alt='ФомЛайн')
                  .category-menu-block__item-content
                    h3.category-menu-block__category-title С памятью формы (LR) <i class='mdi mdi-chevron-right'></i>

                    ul.category-menu-block__subcategories-menu

                      li
                    ul.category-menu-block__subcategories-menu.category-menu-block__subcategories-menu--size

                      li
                        a(href='#') <i class='mdi mdi-chevron-right'></i> st

                      li
                        a(href='#') <i class='mdi mdi-chevron-right'></i> xl

                      li
                        a(href='#') <i class='mdi mdi-chevron-right'></i> el

                      li
                        a(href='#') <i class='mdi mdi-chevron-right'></i> hs

              .category-menu-block__item
                .category-menu-block__item-box
                  img(src='static/img/general/category4.jpg' alt='ФомЛайн')
                  .category-menu-block__item-content
                    h3.category-menu-block__category-title Латексноподобные (LL) <i class='mdi mdi-chevron-right'></i>

                    ul.category-menu-block__subcategories-menu

                    ul.category-menu-block__subcategories-menu.category-menu-block__subcategories-menu--size

                      li
                        a(href='#') <i class='mdi mdi-chevron-right'></i> st

                      li
                        a(href='#') <i class='mdi mdi-chevron-right'></i> xl

                      li
                        a(href='#') <i class='mdi mdi-chevron-right'></i> el

                      li
                        a(href='#') <i class='mdi mdi-chevron-right'></i> hs


            .section-box.section-box--min.typography
              h2 Виды продукции  <i class='mdi mdi-chevron-right'></i>
              p В наших филиалах вы можете приобрести необходимые материалы для производства мебели и матрасов. Сопутствующие товары – ткани для штор, заготовки для подушек и матрасов.      
              p Для наших клиентов организована доставка любых комплектующих, которые вы видите в этом разделе, вместе с продукцией из пенополиуретана. Это удобно, экономит ваше время и место, точно, вовремя, в срок.

            .category-menu-block
              .category-menu-block__item
                .category-menu-block__item-box
                  img(src='static/img/general/category1.jpg' alt='ФомЛайн')
                  .category-menu-block__item-content
                    h3.category-menu-block__category-title Стандартный поролон <i class='mdi mdi-chevron-right'></i>

                    ul.category-menu-block__subcategories-menu.category-menu-block__subcategories-menu--size

                      li
                        a(href='#') <i class='mdi mdi-chevron-right'></i> st

                      li
                        a(href='#') <i class='mdi mdi-chevron-right'></i> xl

                      li
                        a(href='#') <i class='mdi mdi-chevron-right'></i> el

                      li
                        a(href='#') <i class='mdi mdi-chevron-right'></i> hs

              .category-menu-block__item
                .category-menu-block__item-box
                  img(src='static/img/general/category3.jpg' alt='ФомЛайн')
                  .category-menu-block__item-content
                    h3.category-menu-block__category-title Высокоэластичные пены (HR) <i class='mdi mdi-chevron-right'></i>

                    ul.category-menu-block__subcategories-menu

                      li
                    ul.category-menu-block__subcategories-menu.category-menu-block__subcategories-menu--size

                      li
                        a(href='#') <i class='mdi mdi-chevron-right'></i> st

                      li
                        a(href='#') <i class='mdi mdi-chevron-right'></i> xl

                      li
                        a(href='#') <i class='mdi mdi-chevron-right'></i> el

                      li
                        a(href='#') <i class='mdi mdi-chevron-right'></i> hs

              .category-menu-block__item
                .category-menu-block__item-box
                  img(src='static/img/general/category2.jpg' alt='ФомЛайн')
                  .category-menu-block__item-content
                    h3.category-menu-block__category-title С памятью формы (LR) <i class='mdi mdi-chevron-right'></i>

                    ul.category-menu-block__subcategories-menu

                      li
                    ul.category-menu-block__subcategories-menu.category-menu-block__subcategories-menu--size

                      li
                        a(href='#') <i class='mdi mdi-chevron-right'></i> st

                      li
                        a(href='#') <i class='mdi mdi-chevron-right'></i> xl

                      li
                        a(href='#') <i class='mdi mdi-chevron-right'></i> el

                      li
                        a(href='#') <i class='mdi mdi-chevron-right'></i> hs

              .category-menu-block__item
                .category-menu-block__item-box
                  img(src='static/img/general/category4.jpg' alt='ФомЛайн')
                  .category-menu-block__item-content
                    h3.category-menu-block__category-title Латексноподобные (LL) <i class='mdi mdi-chevron-right'></i>

                    ul.category-menu-block__subcategories-menu

                    ul.category-menu-block__subcategories-menu.category-menu-block__subcategories-menu--size

                      li
                        a(href='#') <i class='mdi mdi-chevron-right'></i> st

                      li
                        a(href='#') <i class='mdi mdi-chevron-right'></i> xl

                      li
                        a(href='#') <i class='mdi mdi-chevron-right'></i> el

                      li
                        a(href='#') <i class='mdi mdi-chevron-right'></i> hs


              .category-menu-block__item
                .category-menu-block__item-box
                  img(src='static/img/general/category4.jpg' alt='ФомЛайн')
                  .category-menu-block__item-content
                    h3.category-menu-block__category-title Латексноподобные (LL) <i class='mdi mdi-chevron-right'></i>

                    ul.category-menu-block__subcategories-menu

                    ul.category-menu-block__subcategories-menu.category-menu-block__subcategories-menu--size

                      li
                        a(href='#') <i class='mdi mdi-chevron-right'></i> st

                      li
                        a(href='#') <i class='mdi mdi-chevron-right'></i> xl

                      li
                        a(href='#') <i class='mdi mdi-chevron-right'></i> el

                      li
                        a(href='#') <i class='mdi mdi-chevron-right'></i> hs
          


        +slider-three()

    +footer()

    script(src='%=static=%js/separate-js/svg4everybody.min.js')
    script svg4everybody();

    //- Main scripts. You can replace it, but I recommend you to leave it here
    script(src='%=static=%js/main%=hash=%%=min=%.js')