doctype html
html(class="no-js", lang="ru")

  include ../components/head/head
  include ../components/example/example
  include ../components/header/header
  include ../components/footer/footer
  include ../components/navigate/navigate
  include ../components/card-slider/card-slider
  include ../components/slider/slider-three
  include ../components/category-menu-block/category-menu-block
  include ../components/download-catalog-block/download-catalog-block
  include ../components/product-card/product-card
  include ../components/page-paginator/page-paginator
  include ../components/title-block/title-block
  include ../components/product-info/product-info
  include ../components/product-table/product-table
  include ../components/adventage-block/adventage-block
  include ../components/back-to-top/back-to-top

  head
    +head(head.defaults)
  body.page#top
    |%=symbols=%
    +header()
    main.page__wrapper#main
      .page-paginator
        .container
          ul.page-paginator__grid
            li.page-paginator__item
              a(href='#') Главная страница  
              span <i class='mdi mdi-chevron-right'></i>
              a(href='#') Продукция
              span <i class='mdi mdi-chevron-right'></i>
              a.is-active(href='#') Стандартный поролон ST

      
      section
        .container
          .section-box.section-box--min
            h1 Стандартный поролон ST
            +product-card()
            +product-info()
            +product-table()
            
            .section-box
              h2.section-box__big-title Сертификаты и документы
              .download-catalog-block.download-catalog-block--card
              
                a.download-catalog-block__button-link(href='#' download)
                  i
                  p <span> Брошюра о продукте ST 1930</span> (PDF, 70 Kb)
              
                a.download-catalog-block__button-link.download-catalog-block__button-link--big(href='#' download)
                  i
                  p <span> Документация/руководства/испытания</span> (PDF, 70 Kb)

      section.section-box
        .container
          h2.section-box__big-title Статьи по теме <i class='mdi mdi-chevron-right'></i>            
          .news-block.news-block--alternate

            .news-block__top-notice-box

              a.news-block__notice-link(href='#')
                .news-block__image-box
                  img(src='static/img/general/news-1.jpg' alt='ФомЛайн')
                  time.news-block__top-notice-date(datetime="2016-11-12") 12 ноября 2016
                h3.news-block__notice-title Компания «ФомЛайн» на 28-й международной выставке «Мебель-2016»


            .news-block__top-notice-box

              a.news-block__notice-link(href='#')
                .news-block__image-box
                  img(src='static/img/general/news-1.jpg' alt='ФомЛайн')
                  time.news-block__top-notice-date(datetime="2016-11-12") 12 ноября 2016
                h3.news-block__notice-title Компания «ФомЛайн» на 28-й международной выставке «Мебель-2016»


            .news-block__top-notice-box

              a.news-block__notice-link(href='#')
                .news-block__image-box
                  img(src='static/img/general/news-1.jpg' alt='ФомЛайн')
                  time.news-block__top-notice-date(datetime="2016-11-12") 12 ноября 2016
                h3.news-block__notice-title Компания «ФомЛайн» на 28-й международной выставке «Мебель-2016»

      +adventage-block()
      +slider-three()

    +footer()
    +back-to-top()

    script(src='%=static=%js/separate-js/svg4everybody.min.js')
    script svg4everybody();

    //- Main scripts. You can replace it, but I recommend you to leave it here
    script(src='%=static=%js/main%=hash=%%=min=%.js')