doctype html
html(class="no-js", lang="ru")

  include ../components/head/head
  include ../components/example/example
  include ../components/header/header
  include ../components/footer/footer
  include ../components/navigate/navigate
  include ../components/slider/slider
  include ../components/slider/slider-three
  include ../components/category-menu-block/category-menu-block
  include ../components/download-catalog-block/download-catalog-block
  include ../components/branches/branches
  include ../components/page-paginator/page-paginator
  include ../components/title-block/title-block
  include ../components/back-to-top/back-to-top
  include ../components/search-section/search-section
  include ../components/map-navigation-block/map-navigation-block

  head
    +head(head.defaults)
    script(src="https://api-maps.yandex.ru/2.1/?lang=ru_RU" type="text/javascript")
  body.page#top
    |%=symbols=%
    +header()
    main.page__wrapper#main
      .page-paginator
        .container
          ul.page-paginator__grid
            li.page-paginator__item
              a(href='#') Главная страница  
              span <i class='mdi mdi-chevron-right'></i>
              a.is-active(href='#') Где купить
      
      
      section
        .container
          .title-block
            .title-block__grid 
              h1.title-block__title.title-block__title--full Где купить?

          .section-box.typography
            p 1. Скачайте прайс лист.<br>2. Выберите нужные позиции или ближайшее место продажи.
            
          ul.min-navigate

            li
              a(href='#') Все
              
            li
              a(href='#') Заводы (10)

            li
              a(href='#') Резательные центры (6)

            li.is-active
              a(href='#') Дилеры (124)
              
          .section-box
            +map-navigation-block()
            
          .map-result-block
            .map-result-block__item
              .map-result-block__title Найдено 100 точек продаж
            
            .map-result-block__item
            
              a.map-result-block__link(href='#')
                i.mdi.mdi-map-marker
              a.map-result-block__link(href='#')
                i.mdi.mdi-format-list-bulleted
            
            
          .where-table.typography
            .where-table__box

              table

                tr

                  th Название/Ф. И. О.

                  th Контакты

                  th Услуги / примечания

                tr

                  td
                    p ИП Багирян В. Г.


                  td 

                    .contact-link-block.contact-link-block--typography

                      .contact-link-block__link <i class='mdi mdi-map-marker'></i> Поволжский регион РФ Волгоград, <a href='#'>ул.Высоковольтная, 1/А, 400006, Россия</a>


                      .contact-link-block__link
                        i.mdi.mdi-phone
                        span +7 123 456 7891

                      .contact-link-block__link
                        i.mdi.mdi-email
                        a(href='#') info@pres-ametist.ru

                  td
                    p Многие думают, что Lorem Ipsum - взятый с потолка псевдо-латинский набор слов, но это не совсем так. Его корни уходят в один фрагмент латыни 45 года, то есть более двух назад. Ричард МакКлинток. профессор.джиния, взял одно из самых

                tr

                  td
                    p ИП Багирян В. Г.


                  td 

                    .contact-link-block.contact-link-block--typography

                      .contact-link-block__link <i class='mdi mdi-map-marker'></i> Поволжский регион РФ Волгоград, <a href='#'>ул.Высоковольтная, 1/А, 400006, Россия</a>


                      .contact-link-block__link
                        i.mdi.mdi-phone
                        span +7 123 456 7891

                      .contact-link-block__link
                        i.mdi.mdi-email
                        a(href='#') info@pres-ametist.ru

                  td
                    p Многие думают, что Lorem Ipsum - взятый с потолка псевдо-латинский набор слов, но это не совсем так. Его корни уходят в один фрагмент латыни 45 года, то есть более двух назад. Ричард МакКлинток. профессор.джиния, взял одно из самых

                tr

                  td
                    p ИП Багирян В. Г.


                  td 

                    .contact-link-block.contact-link-block--typography

                      .contact-link-block__link <i class='mdi mdi-map-marker'></i> Поволжский регион РФ Волгоград, <a href='#'>ул.Высоковольтная, 1/А, 400006, Россия</a>


                      .contact-link-block__link
                        i.mdi.mdi-phone
                        span +7 123 456 7891

                      .contact-link-block__link
                        i.mdi.mdi-email
                        a(href='#') info@pres-ametist.ru

                  td
                    p Многие думают, что Lorem Ipsum - взятый с потолка псевдо-латинский набор слов, но это не совсем так. Его корни уходят в один фрагмент латыни 45 года, то есть более двух назад. Ричард МакКлинток. профессор.джиния, взял одно из самых

                tr

                  td
                    p ИП Багирян В. Г.


                  td 

                    .contact-link-block.contact-link-block--typography

                      .contact-link-block__link <i class='mdi mdi-map-marker'></i> Поволжский регион РФ Волгоград, <a href='#'>ул.Высоковольтная, 1/А, 400006, Россия</a>


                      .contact-link-block__link
                        i.mdi.mdi-phone
                        span +7 123 456 7891

                      .contact-link-block__link
                        i.mdi.mdi-email
                        a(href='#') info@pres-ametist.ru

                  td
                    p Многие думают, что Lorem Ipsum - взятый с потолка псевдо-латинский набор слов, но это не совсем так. Его корни уходят в один фрагмент латыни 45 года, то есть более двух назад. Ричард МакКлинток. профессор.джиния, взял одно из самых


    +footer()
    +back-to-top()

    script(src='%=static=%js/separate-js/svg4everybody.min.js')
    script svg4everybody();
    //- Main scripts. You can replace it, but I recommend you to leave it here
    script(src='%=static=%js/main%=hash=%%=min=%.js')    
    script(src='%=static=%js/separate-js/mapy.js')
    