mixin navigate()

  nav.navigate
    ul.navigate__menu
    
      li.navigate__menu-item
        a(href='#') Главная 
            
      li.navigate__menu-item
        a(href='#') Продукция  
                    
      li.navigate__menu-item
        a(href='#') О компании
                    
      li.navigate__menu-item
        a(href='#') Документация
                    
      li.navigate__menu-item
        a(href='#') Где купить
                    
      li.navigate__menu-item
        a(href='#') Новости
                            
      li.navigate__menu-item
        a(href='#') Парнерам
                            
      li.navigate__menu-item
        a(href='#') Контакты

        
        
        
        
        
                                                                                                      
    
    
    
  