mixin catalog-grid()

  section
    .container
      .title-block
        .title-block__grid 
          h1.title-block__title.title-block__title--full Наполнение для матрасов и подушек

      article.section-box.section-box--min.typography
        h2 Однослойные матрасные заготовки <i class='mdi mdi-chevron-right'></i>
        p Все матрасы из коллекции многозональных матрасов имеют специальную фигурную поверхность, которая обеспечивает надежную поддержку отдельных частей тела спящего человека. Также фигурная резка поверхности матраса обеспечивает дополнительную вентиляцию.

        p Все модели монолитных матрасов могут быть изготовлены в следующих высотах:  140, 160, 180, 200 мм. В зависимости от марки пены матрасы могут быть произведены в трех вариантах жесткости: высокая, средняя, низкая.

      .section-box
        .catalog-grid



          a.catalog-grid__item.js-slider-hover(href='#')
            .catalog-grid__item-box
              .catalog-grid__item-image.js-catalog-grid-slider

                .catalog-grid__item-image-slide
                  img(src='static/img/general/card/mat.jpg' alt='ФомЛайн')

                .catalog-grid__item-image-slide
                  img(src='static/img/general/card/mat2.jpg' alt='ФомЛайн')

                .catalog-grid__item-image-slide
                  img(src='static/img/general/card/mat.jpg' alt='ФомЛайн')

                .catalog-grid__item-image-slide
                  img(src='static/img/general/card/mat2.jpg' alt='ФомЛайн')
                  
              .catalog-grid__item-content
                h3.catalog-grid__item-title ROLL SLIM Н1
                .catalog-grid__item-description 
                  span Высота: 100 мм
                  span Степень жесткость – высокая


          a.catalog-grid__item.js-slider-hover(href='#')
            .catalog-grid__item-box
              .catalog-grid__item-image.js-catalog-grid-slider

                .catalog-grid__item-image-slide
                  img(src='static/img/general/card/mat2.jpg' alt='ФомЛайн')

                .catalog-grid__item-image-slide
                  img(src='static/img/general/card/mat.jpg' alt='ФомЛайн')

                .catalog-grid__item-image-slide
                  img(src='static/img/general/card/mat2.jpg' alt='ФомЛайн')

                .catalog-grid__item-image-slide
                  img(src='static/img/general/card/mat.jpg' alt='ФомЛайн')
                  
              .catalog-grid__item-content
                h3.catalog-grid__item-title ROLL SLIM Н1
                .catalog-grid__item-description 
                  span Высота: 100 мм
                  span Степень жесткость – высокая


          a.catalog-grid__item.js-slider-hover(href='#')
            .catalog-grid__item-box
              .catalog-grid__item-image.js-catalog-grid-slider

                .catalog-grid__item-image-slide
                  img(src='static/img/general/card/mat.jpg' alt='ФомЛайн')

                .catalog-grid__item-image-slide
                  img(src='static/img/general/card/mat2.jpg' alt='ФомЛайн')

                .catalog-grid__item-image-slide
                  img(src='static/img/general/card/mat.jpg' alt='ФомЛайн')

                .catalog-grid__item-image-slide
                  img(src='static/img/general/card/mat2.jpg' alt='ФомЛайн')
                  
              .catalog-grid__item-content
                h3.catalog-grid__item-title ROLL SLIM Н1
                .catalog-grid__item-description 
                  span Высота: 100 мм
                  span Степень жесткость – высокая


          a.catalog-grid__item.js-slider-hover(href='#')
            .catalog-grid__item-box
              .catalog-grid__item-image.js-catalog-grid-slider

                .catalog-grid__item-image-slide
                  img(src='static/img/general/card/mat2.jpg' alt='ФомЛайн')

                .catalog-grid__item-image-slide
                  img(src='static/img/general/card/mat.jpg' alt='ФомЛайн')

                .catalog-grid__item-image-slide
                  img(src='static/img/general/card/mat2.jpg' alt='ФомЛайн')

                .catalog-grid__item-image-slide
                  img(src='static/img/general/card/mat.jpg' alt='ФомЛайн')
                  
              .catalog-grid__item-content
                h3.catalog-grid__item-title ROLL SLIM Н1
                .catalog-grid__item-description 
                  span Высота: 100 мм
                  span Степень жесткость – высокая


          a.catalog-grid__item.js-slider-hover(href='#')
            .catalog-grid__item-box
              .catalog-grid__item-image.js-catalog-grid-slider

                .catalog-grid__item-image-slide
                  img(src='static/img/general/card/mat.jpg' alt='ФомЛайн')

                .catalog-grid__item-image-slide
                  img(src='static/img/general/card/mat2.jpg' alt='ФомЛайн')

                .catalog-grid__item-image-slide
                  img(src='static/img/general/card/mat.jpg' alt='ФомЛайн')

                .catalog-grid__item-image-slide
                  img(src='static/img/general/card/mat2.jpg' alt='ФомЛайн')
                  
              .catalog-grid__item-content
                h3.catalog-grid__item-title ROLL SLIM Н1
                .catalog-grid__item-description 
                  span Высота: 100 мм
                  span Степень жесткость – высокая


          a.catalog-grid__item.js-slider-hover(href='#')
            .catalog-grid__item-box
              .catalog-grid__item-image.js-catalog-grid-slider

                .catalog-grid__item-image-slide
                  img(src='static/img/general/card/mat2.jpg' alt='ФомЛайн')

                .catalog-grid__item-image-slide
                  img(src='static/img/general/card/mat.jpg' alt='ФомЛайн')

                .catalog-grid__item-image-slide
                  img(src='static/img/general/card/mat2.jpg' alt='ФомЛайн')

                .catalog-grid__item-image-slide
                  img(src='static/img/general/card/mat.jpg' alt='ФомЛайн')
                  
              .catalog-grid__item-content
                h3.catalog-grid__item-title ROLL SLIM Н1
                .catalog-grid__item-description 
                  span Высота: 100 мм
                  span Степень жесткость – высокая


          a.catalog-grid__item.js-slider-hover(href='#')
            .catalog-grid__item-box
              .catalog-grid__item-image.js-catalog-grid-slider

                .catalog-grid__item-image-slide
                  img(src='static/img/general/card/mat.jpg' alt='ФомЛайн')

                .catalog-grid__item-image-slide
                  img(src='static/img/general/card/mat2.jpg' alt='ФомЛайн')

                .catalog-grid__item-image-slide
                  img(src='static/img/general/card/mat.jpg' alt='ФомЛайн')

                .catalog-grid__item-image-slide
                  img(src='static/img/general/card/mat2.jpg' alt='ФомЛайн')
                  
              .catalog-grid__item-content
                h3.catalog-grid__item-title ROLL SLIM Н1
                .catalog-grid__item-description 
                  span Высота: 100 мм
                  span Степень жесткость – высокая


          a.catalog-grid__item.js-slider-hover(href='#')
            .catalog-grid__item-box
              .catalog-grid__item-image.js-catalog-grid-slider

                .catalog-grid__item-image-slide
                  img(src='static/img/general/card/mat2.jpg' alt='ФомЛайн')

                .catalog-grid__item-image-slide
                  img(src='static/img/general/card/mat.jpg' alt='ФомЛайн')

                .catalog-grid__item-image-slide
                  img(src='static/img/general/card/mat2.jpg' alt='ФомЛайн')

                .catalog-grid__item-image-slide
                  img(src='static/img/general/card/mat.jpg' alt='ФомЛайн')
                  
              .catalog-grid__item-content
                h3.catalog-grid__item-title ROLL SLIM Н1
                .catalog-grid__item-description 
                  span Высота: 100 мм
                  span Степень жесткость – высокая


          a.catalog-grid__item.js-slider-hover(href='#')
            .catalog-grid__item-box
              .catalog-grid__item-image.js-catalog-grid-slider

                .catalog-grid__item-image-slide
                  img(src='static/img/general/card/mat.jpg' alt='ФомЛайн')

                .catalog-grid__item-image-slide
                  img(src='static/img/general/card/mat2.jpg' alt='ФомЛайн')

                .catalog-grid__item-image-slide
                  img(src='static/img/general/card/mat.jpg' alt='ФомЛайн')

                .catalog-grid__item-image-slide
                  img(src='static/img/general/card/mat2.jpg' alt='ФомЛайн')
                  
              .catalog-grid__item-content
                h3.catalog-grid__item-title ROLL SLIM Н1
                .catalog-grid__item-description 
                  span Высота: 100 мм
                  span Степень жесткость – высокая


          a.catalog-grid__item.js-slider-hover(href='#')
            .catalog-grid__item-box
              .catalog-grid__item-image.js-catalog-grid-slider

                .catalog-grid__item-image-slide
                  img(src='static/img/general/card/mat2.jpg' alt='ФомЛайн')

                .catalog-grid__item-image-slide
                  img(src='static/img/general/card/mat.jpg' alt='ФомЛайн')

                .catalog-grid__item-image-slide
                  img(src='static/img/general/card/mat2.jpg' alt='ФомЛайн')

                .catalog-grid__item-image-slide
                  img(src='static/img/general/card/mat.jpg' alt='ФомЛайн')
                  
              .catalog-grid__item-content
                h3.catalog-grid__item-title ROLL SLIM Н1
                .catalog-grid__item-description 
                  span Высота: 100 мм
                  span Степень жесткость – высокая


    
      article.section-box.section-box--min.typography
        h2 Многослойные матрасные заготовки <i class='mdi mdi-chevron-right'></i>
        p Модели заготовок высокомфортных матрасов Вы можете выбрать из нашей коллекции, а также заготовка может быть изготовлена по вашим чертежам.

        p При производстве заготовок высококомфортных матрасов мы используем специальные пены, комфортность которых в разы выше стандартных пен. К таким пенам относят высокоэластичные пены и пены с эффектом памяти.

      .section-box
        .catalog-grid

          a.catalog-grid__item.js-slider-hover(href='#')
            .catalog-grid__item-box
              .catalog-grid__item-image.js-catalog-grid-slider

                .catalog-grid__item-image-slide
                  img(src='static/img/general/card/pad.jpg' alt='ФомЛайн')

                .catalog-grid__item-image-slide
                  img(src='static/img/general/card/pad2.jpg' alt='ФомЛайн')
                  
              catalog-grid__item-content
                h3.catalog-grid__item-title Модель Anatomic
                .catalog-grid__item-description 
                  span Подушки анатомические с двумя валиками, изготовлены из вязкоэластичной пены (с памятью формы).


          a.catalog-grid__item.js-slider-hover(href='#')
            .catalog-grid__item-box
              .catalog-grid__item-image.js-catalog-grid-slider

                .catalog-grid__item-image-slide
                  img(src='static/img/general/card/pad2.jpg' alt='ФомЛайн')

                .catalog-grid__item-image-slide
                  img(src='static/img/general/card/pad.jpg' alt='ФомЛайн')

              catalog-grid__item-content
                h3.catalog-grid__item-title Модель Classic
                .catalog-grid__item-description 
                  span Подушки анатомические с двумя валиками, изготовлены из вязкоэластичной пены (с памятью формы).


