mixin catalog-grid()

  .section-box
    .catalog-grid
    
      a.catalog-grid__item.js-slider-hover(href='#')
        .catalog-grid__item-box
          .catalog-grid__item-image.js-catalog-grid-slider
          
            .catalog-grid__item-image-slide
              img(src='static/img/general/card/mat.jpg' alt='ФомЛайн')
                        
            .catalog-grid__item-image-slide
              img(src='static/img/general/card/mat2.jpg' alt='ФомЛайн')
                        
            .catalog-grid__item-image-slide
              img(src='static/img/general/card/mat.jpg' alt='ФомЛайн')
                        
            .catalog-grid__item-image-slide
              img(src='static/img/general/card/mat2.jpg' alt='ФомЛайн')
              
          h3.catalog-grid__item-title ROLL SLIM Н1
          .catalog-grid__item-description 
            span Высота: 100 мм
            span Степень жесткость – высокая

        
      a.catalog-grid__item.js-slider-hover(href='#')
        .catalog-grid__item-box
          .catalog-grid__item-image.js-catalog-grid-slider
          
            .catalog-grid__item-image-slide
              img(src='static/img/general/card/mat2.jpg' alt='ФомЛайн')
                        
            .catalog-grid__item-image-slide
              img(src='static/img/general/card/mat.jpg' alt='ФомЛайн')
                        
            .catalog-grid__item-image-slide
              img(src='static/img/general/card/mat2.jpg' alt='ФомЛайн')
                        
            .catalog-grid__item-image-slide
              img(src='static/img/general/card/mat.jpg' alt='ФомЛайн')
              
          h3.catalog-grid__item-title ROLL SLIM Н1
          .catalog-grid__item-description 
            span Высота: 100 мм
            span Степень жесткость – высокая

    
        
      a.catalog-grid__item.js-slider-hover(href='#')
        .catalog-grid__item-box
          .catalog-grid__item-image.js-catalog-grid-slider
          
            .catalog-grid__item-image-slide
              img(src='static/img/general/card/mat3.jpg' alt='ФомЛайн')
                        
            .catalog-grid__item-image-slide
              img(src='static/img/general/card/mat.jpg' alt='ФомЛайн')
                        
            .catalog-grid__item-image-slide
              img(src='static/img/general/card/mat3.jpg' alt='ФомЛайн')
                        
            .catalog-grid__item-image-slide
              img(src='static/img/general/card/mat2.jpg' alt='ФомЛайн')
              
          h3.catalog-grid__item-title ROLL SLIM Н1
          .catalog-grid__item-description 
            span Высота: 100 мм
            span Степень жесткость – высокая

        
      a.catalog-grid__item.js-slider-hover(href='#')
        .catalog-grid__item-box
          .catalog-grid__item-image.js-catalog-grid-slider
          
            .catalog-grid__item-image-slide
              img(src='static/img/general/card/mat.jpg' alt='ФомЛайн')
                        
            .catalog-grid__item-image-slide
              img(src='static/img/general/card/mat2.jpg' alt='ФомЛайн')
                        
            .catalog-grid__item-image-slide
              img(src='static/img/general/card/mat.jpg' alt='ФомЛайн')
                        
            .catalog-grid__item-image-slide
              img(src='static/img/general/card/mat2.jpg' alt='ФомЛайн')
              
          h3.catalog-grid__item-title ROLL SLIM Н1
          .catalog-grid__item-description 
            span Высота: 100 мм
            span Степень жесткость – высокая

        
      a.catalog-grid__item(href='#')
        .catalog-grid__item-box.js-slider-hover
          .catalog-grid__item-image.js-catalog-grid-slider
          
            .catalog-grid__item-image-slide
              img(src='static/img/general/card/mat2.jpg' alt='ФомЛайн')
                        
            .catalog-grid__item-image-slide
              img(src='static/img/general/card/mat.jpg' alt='ФомЛайн')
                        
            .catalog-grid__item-image-slide
              img(src='static/img/general/card/mat2.jpg' alt='ФомЛайн')
                        
            .catalog-grid__item-image-slide
              img(src='static/img/general/card/mat.jpg' alt='ФомЛайн')
              
          h3.catalog-grid__item-title ROLL SLIM Н1
          .catalog-grid__item-description 
            span Высота: 100 мм
            span Степень жесткость – высокая

    
        
      a.catalog-grid__item.js-slider-hover(href='#')
        .catalog-grid__item-box
          .catalog-grid__item-image.js-catalog-grid-slider
          
            .catalog-grid__item-image-slide
              img(src='static/img/general/card/mat3.jpg' alt='ФомЛайн')
                        
            .catalog-grid__item-image-slide
              img(src='static/img/general/card/mat.jpg' alt='ФомЛайн')
                        
            .catalog-grid__item-image-slide
              img(src='static/img/general/card/mat3.jpg' alt='ФомЛайн')
                        
            .catalog-grid__item-image-slide
              img(src='static/img/general/card/mat2.jpg' alt='ФомЛайн')
              
          h3.catalog-grid__item-title ROLL SLIM Н1
          .catalog-grid__item-description 
            span Высота: 100 мм
            span Степень жесткость – высокая

    