mixin slider-two

  .section-box.slider.js-slider
  
    .slider__slide
      img(src='static/img/general/slide2-1.jpg.jpg' class='only-desktop only-desktop--big-desktop' alt='ФомЛайн')
      img(src='static/img/general/slide2-p1.jpg' class='only-tab' alt='ФомЛайн')
      img(src='static/img/general/slide2-m1.jpg' class='only-mobile' alt='ФомЛайн')

      .slider__slide-box
        .container
          .slider__slide-content
            article
              h4.slider__slide-title Поддержка партнеров
              p.slider__slide-description Мы предоставляем комплексную поддержку партнеров:<br>обучение персонала, разработка продукции по индивидуальным требованиям, полная информационная поддержка.   
              a.gui-link-button(href='#') Подробнее <i class='mdi mdi-chevron-right'></i>