mixin slider-three()

  .slider.js-slider
  
    .slider__slide
      img(src='static/img/general/slide3.jpg' class='only-desktop only-desktop--big-desktop' alt='ФомЛайн')
      img(src='static/img/general/slide3-p.jpg' class='only-tab' alt='ФомЛайн')
      img(src='static/img/general/slide3-m.jpg' class='only-mobile' alt='ФомЛайн')
      .slider__slide-box
        .container
          .slider__slide-content.slider__slide-content--full
            article
              h4.slider__slide-title-full Купить продукцию «ФоамЛайн» можно в любой<br>из более 140 точек продаж
              
              a.slider__content-link(href='#')
                span 10 заводов
                  i.icon-one
                              
              a.slider__content-link(href='#')
                span 6 резательных центров
                  i.icon-two
                              
              a.slider__content-link(href='#')
                span 124 дилера
                  i.icon-three
                
              p.slider__slide-description Информацию о стоимости моделей, вариантах пен, доступных цветах, а также о сроках производства вы <br>можете уточнить в любой точке продажи
  