mixin slider-four()

  .slider.js-slider.is-not-print
  
    .slider__slide
      img(src='static/img/general/slide4.jpg' class='only-desktop only-desktop--big-desktop' alt='ФомЛайн')
      img(src='static/img/general/slide4p.jpg' class='only-tab' alt='ФомЛайн')
      img(src='static/img/general/slide4m.jpg' class='only-mobile' alt='ФомЛайн')
      .slider__slide-box
        .container
          .slider__slide-content.slider__slide-content--full
            article
              h4.slider__slide-title-full.slider__slide-title-full--max-margin.text-align-left Купить продукцию «ФоамЛайн» можно в любой<br>из более 140 точек продаж
              
              a.slider__content-link.slider__content-link--slider-four-link(href='#')
                div
                  span Широкий ассортимент:
                  p более 90 наименований<br>продукции 
                  i.icon-four
                              
              a.slider__content-link.slider__content-link--slider-four-link(href='#')
                div 
                  span Удобство работы: 
                  p 8 заводов в России, заводы в Казахстане<br>и Сербии, широкая сеть дилеров<br>и собственных резательных центров
                  i.icon-one
                              
              a.slider__content-link.slider__content-link--slider-four-link(href='#')
                div
                  span 25-летний опыт<br>производства:
                  p объем производства 90 000<br>тонн в год
                  i.icon-five