mixin slider()

  .slider.js-slider
  
    .slider__slide
      img(src='static/img/general/slide1.jpg' class='except-mobile' alt='ФомЛайн')
      img(src='static/img/general/slide-m1.jpg' class='only-mobile' alt='ФомЛайн')
      .slider__slide-box
        .container
          .slider__slide-content.slider__slide-content--revers
            article
              h4.slider__slide-title Инновации<br>начинаются с идей
              p.slider__slide-description ГруппЦентр научных разработок «ФомЛайн»<br>создает продукты из пены, которые меняют<br>жизни людей    
              a.gui-link-button(href='#') Подробнее <i class='mdi mdi-chevron-right'></i>
  
    .slider__slide
      img(src='static/img/general/slide2.jpg' class='except-mobile' alt='ФомЛайн')
      img(src='static/img/general/slide-m1.jpg' class='only-mobile' alt='ФомЛайн')
      .slider__slide-box
        .container
          .slider__slide-content.slider__slide-content--revers
            article
              h4.slider__slide-title Инновации<br>начинаются с идей
              p.slider__slide-description ГруппЦентр научных разработок «ФомЛайн»<br>создает продукты из пены, которые меняют<br>жизни людей    
              a.gui-link-button(href='#') Подробнее <i class='mdi mdi-chevron-right'></i>

  
    .slider__slide
      img(src='static/img/general/slide1.jpg' class='except-mobile' alt='ФомЛайн')
      img(src='static/img/general/slide-m1.jpg' class='only-mobile' alt='ФомЛайн')
      .slider__slide-box
        .container
          .slider__slide-content.slider__slide-content--revers
            article
              h4.slider__slide-title Инновации<br>начинаются с идей
              p.slider__slide-description ГруппЦентр научных разработок «ФомЛайн»<br>создает продукты из пены, которые меняют<br>жизни людей    
              a.gui-link-button(href='#') Подробнее <i class='mdi mdi-chevron-right'></i>


           