mixin slider()

  .slider.js-slider.is-not-print
  
    .slider__slide
      img(src='static/img/general/baner/B-Verh-Comp_1920x325_lab.jpg' class='only-desktop only-desktop--big-desktop' alt='ФомЛайн')
      img(src='static/img/general/baner/B-Verh-iPad_768x350_lab.jpg' class='only-tab' alt='ФомЛайн')
      img(src='static/img/general/baner/Banner-Verh-Mobile_320x350_lab.jpg' class='only-mobile' alt='ФомЛайн')
      .slider__slide-box
        .container
          .slider__slide-content.slider__slide-content--revers
            article
              h4.slider__slide-title Инновации<br>начинаются с идей
              p.slider__slide-description ГруппЦентр научных разработок «ФомЛайн»<br>создает продукты из пены, которые меняют<br>жизни людей    
              a.gui-link-button(href='#') Подробнее <i class='mdi mdi-chevron-right'></i>
  
    .slider__slide
      img(src='static/img/general/baner/B-Verh-Comp_1920x325-pro-01.jpg' class='only-desktop only-desktop--big-desktop' alt='ФомЛайн')
      img(src='static/img/general/baner/B-Verh-iPad_768x350_pro-01.jpg' class='only-tab' alt='ФомЛайн')
      img(src='static/img/general/baner/Banner-Verh-Mobile_320x350_pro-01.jpg' class='only-mobile' alt='ФомЛайн')
      .slider__slide-box
        .container
          .slider__slide-content.slider__slide-content--revers
            article
              h4.slider__slide-title Инновации<br>начинаются с идей
              p.slider__slide-description ГруппЦентр научных разработок «ФомЛайн»<br>создает продукты из пены, которые меняют<br>жизни людей    
              a.gui-link-button(href='#') Подробнее <i class='mdi mdi-chevron-right'></i>

  
    .slider__slide
      img(src='static/img/general/baner/B-Verh-Comp_1920x325-pro-02.jpg' class='only-desktop only-desktop--big-desktop' alt='ФомЛайн')
      img(src='static/img/general/baner/B-Verh-iPad_768x350_pro-02.jpg' class='only-tab' alt='ФомЛайн')
      img(src='static/img/general/baner/Banner-Verh-Mobile_320x350_pro-02.jpg' class='only-mobile' alt='ФомЛайн')
      .slider__slide-box
        .container
          .slider__slide-content.slider__slide-content--revers
            article
              h4.slider__slide-title Инновации<br>начинаются с идей
              p.slider__slide-description ГруппЦентр научных разработок «ФомЛайн»<br>создает продукты из пены, которые меняют<br>жизни людей    
              a.gui-link-button(href='#') Подробнее <i class='mdi mdi-chevron-right'></i>


           