.slider {
  
  &__slide {
    position: relative;
    margin: 0;
    padding: 0;
    outline: none;
  }
  
  &__slide-box {
    @include size(100%);
    position: absolute;
    display: block;
    left: 0;
    top: 0;
    
    > .container {
      position: relative;
      height: 100%;
    }
  }
  
  &__slide-content {
    display: flex;
    align-items: center;
    height: 100%;
    transition: .4s;
    opacity: 0;
    
    > article {

      @include mq(md) {     
        width: 60%;
        margin-top: -3rem;
      }
      
      .gui-link-button {
        display: inline-block;
        
        @include mq(xs) {
          display: inline-block;
        }
      }
    }
    
      
    @include mq(md) {
      display: flex;
    }
    
    
    &--revers {
      @include mq(md) {     
        justify-content: flex-end
      }
      
      > article {
        @include mq(md) {     
          width: 50%;
        }
      }
      
    }
    
    
    &--full {
      
      > article {
        width: 100%;

        @include mq(sm) {
          @include grid();
        }     
        @include mq(md) {
          @include grid();
        }
        
      }
      
      .slider__slide-title-full {
        width: 100%;
        margin-bottom: 1.5rem;
        text-align: center;
        
        br {
          display: none;
        }
                
        @include mq(sm) {
          margin-bottom: 3rem;
          br {
            display: block;
          }
        }
                
        @include mq(md) {
          margin-bottom: 3rem;
          br {
            display: block;
          }
        }
      }
      
      
      .slider__slide-description {
        width: 100%;
        margin-top: 1.5rem;
        text-align: center;
        margin-bottom: 0;
        
        br {
          display: none;
        }
                
        @include mq(sm) {
          @include font(1.6rem,2.2rem);
          margin-top: 3rem;
          br {
            display: block;
          }
        }
                
        @include mq(md) {
          @include font(2rem,3.2rem);
          margin-top: 3rem;
          br {
            display: block;
          }
        }
      }
    }  
  }
  
  &__slide-title {
    @include font(2.4rem, 3rem);
    margin-bottom: 1rem;
    color: #fff;

    @include mq(sm) {     
      @include font(3rem, 3.5rem);
    }
      
    @include mq(md) {     
      @include font(4rem, 4.5rem);
      margin-bottom: 2rem;
      font-weight: 300; 
    } 
  }
     
  &__slide-title-full {
    @include font(1.6rem, 2rem);
    margin-bottom: 1rem;
    color: #fff;

    @include mq(sm) {     
      @include font(3rem, 3.5rem);
    }
      
    @include mq(md) {     
      @include font(3.8rem, 4.5rem);
      margin-bottom: 2rem;
      font-weight: 300; 
    } 
  }
    
  &__slide-description {
    @include font(1.3rem, 2rem);
    margin-bottom: 3rem;
    color: #fff;
    
    @include mq(sm) {     
      @include font(1.6rem, 2rem);
      margin-bottom: 3rem;
      font-weight: 300;
    }
    
    
  }
  
    .slick-active {
      .slider__slide-content {
        opacity: 1;
      }
    } 
  
  img {
    vertical-align: top;
    width: 100% !important;
  }
  
  
  .slick-dots {
    position: absolute;
    display: flex;
    bottom : 4rem;
    left: 50%;
    transform: translate(-50%,0);
    
    @include mq(xs) {
      display: none !important;  
    }
    
    li {
      @include size(1rem);
      position: relative;
      border-radius: 50%;
      border: 2px solid transparent;
      overflow: hidden;
      
      span {
        @include size(100%);
        position: absolute;
        display: block;
        left: 0;
        top:0;
        background: rgba(255,255,255, .5);
      }
      
      
      &:not(:last-child) {
        margin-right: 1.3rem;
      }
    }
    
    .slick-active {
      border: solid 2px $color-brand2;
      
      span {
        background: transparent;
      }
    }
    
    @include mq(xs) {     
      display: none;
    }
  }
  
  
  &__content-link {
    @include hover(color, $color-brand2);
    position: relative;
    display: block;
    padding-top: 2rem;
    padding-bottom: 2rem;
    text-align: center;
    
    @include mq(xs) {     
      margin: 1.5rem 0;
    }
        
    @include mq(sm) {     
      @include grid-cols(1,3);
    }
            
    @include mq(md) {     
      @include grid-cols(1,3);
    }
    
    span {
      @include font(1.6rem,2rem);
      position: relative; 
      display: inline-block;
      color: #fff;
      font-weight: 700;
      text-decoration: underline;
    }
    
    i {
      position: absolute;
      top: 50%;
      left: 0;
      transform: translate(-90%,-50%);
      background-size: contain;
      background-position: 50% 50%;

    }
    
    .icon-one {
      @include size(5.2rem);
      transform: translate(-90%,-60%);
      background-image: url(../img/general/icon/s1.png);
      
      @include mq(xs) {
        @include size(4rem);
      }
    }
        
    .icon-three {
      @include size(5rem);
      background-image: url(../img/general/icon/s3.png);
      
      @include mq(xs) {
        @include size(3rem);
      }
    }
            
    .icon-two {
      width: 5rem;
      height: 4rem;
      background-image: url(../img/general/icon/s2.png);
      @include mq(xs) {
        width: 4rem;
        height: 3rem;
      }
    }
  } 
  
}

