mixin title-block()

  .title-block
    .title-block__grid 
      h1.title-block__title Продукция

      a.title-block__button-link(href='#' download)
        i
        p <span> Скачать весь каталог продукции в</span> PDF (590 Кб)
