mixin clients-slider()

  section.section-box
    .container
      h2 Наши клиенты
      
      .clients-slider
        .clients-slider__box.js-clients-slider
      
          a.clients-slider__item(href='#')
            .clients-slider__image-box
              img(src='static/img/general/clients/1.png' alt='ГАЗ')

          a.clients-slider__item(href='#')
            .clients-slider__image-box
              img(src='static/img/general/clients/1.png' alt='ГАЗ')

          a.clients-slider__item(href='#')
            .clients-slider__image-box
              img(src='static/img/general/clients/1.png' alt='ГАЗ')

          a.clients-slider__item(href='#')
            .clients-slider__image-box
              img(src='static/img/general/clients/1.png' alt='ГАЗ')

          a.clients-slider__item(href='#')
            .clients-slider__image-box
              img(src='static/img/general/clients/1.png' alt='ГАЗ')

          a.clients-slider__item(href='#')
            .clients-slider__image-box
              img(src='static/img/general/clients/1.png' alt='ГАЗ')

          a.clients-slider__item(href='#')
            .clients-slider__image-box
              img(src='static/img/general/clients/1.png' alt='ГАЗ')

          a.clients-slider__item(href='#')
            .clients-slider__image-box
              img(src='static/img/general/clients/1.png' alt='ГАЗ')

        a.clients-slider-navigate.clients-slider-navigate--prev.js-client-prev(href='#')
          i.mdi.mdi-chevron-left
        a.clients-slider-navigate.clients-slider-navigate--next.js-client-next(href='#')
          i.mdi.mdi-chevron-right

