mixin map-navigation-block()

  form.map-navigation-block
  
    .map-navigation-block__input-block
      input(type='search' placeholder='Россия')
      .map-navigation-block__icon
        i.mdi.mdi-chevron-right 
        
    .map-navigation-block__input-block
      input(type='search' placeholder='Казахстан') 
        
    .map-navigation-block__input-block
      button.map-navigation-block__input-button(type='search') Сербия