mixin header()
  header.header#header
    .container
    
      .header__line-top
        .header__burger-box
          a.js-mobile-menu-open(href='#')
            span
        a.header__logo-box(href='#')
          .header__logo-image
            img(src='static/img/general/logo.jpg' alt='ФомЛайн')
          .header__logo-description Крупнейший российский производитель<br>эластичного пенополиуретана
        .header__switch-box
        
          a.header__search-switch(href='#')
            i.mdi.mdi-magnify
        
          form.page-search-block
            input(type='search' placeholder='Поиск')
            button
              i.mdi.mdi-magnify
              
          .header__lang-box.js-lang-box
            ul.header__lang-switch.js-lang-switch
              li.header__lang-switch-item(data-active='true')
                a(href='#') Rus
              li.header__lang-switch-item
                a(href='#') Srb             
              li.header__lang-switch-item
                a(href='#') Eng
                
      +navigate()
                
                
              

    