.header {
  box-shadow: 0px 1px 5px 0px rgba(202, 202, 202, 0.57);
  z-index: 100;

  
  &__line-top {
    display: flex;
    justify-content: space-between;
    padding: 2rem 0;
    
    @include mq(md) {
      padding: 3rem 0;
    }
        
    @include mq(sm) {
      align-items: center;
    }
    
  }
  
  &__burger-box {
    display: inline-block;
    
    @include mq(xs) {
      display: flex;
      padding: .6rem 0;
    }
        
    @include mq(sm) {
      display: flex;
      align-self: center;
      padding: 2rem;
    }
    
    @include mq(md) {
      display: none;
    } 
    
    a {
      position: relative;
      display: block;
      width: 2.6rem;
      height: 2rem;
      
      span {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: .3rem;
        border-radius: 2px;
        background: $color-brand2;
        
        &:before,
        &:after {
          position: absolute;
          top: .8rem;
          left: 0;
          width: 100%;
          height: 100%;
          border-radius: 2px;
          background: $color-brand2;
          content: '';
        }
                
        &:after {
          position: absolute;
          top: 1.6rem;
          left: 0;
          width: 100%;
          height: 100%;
          border-radius: 2px;
          background: $color-brand2;
        }
        
      }
      
      
    }
    
  }
  
  &__logo-box {
    display: block;
        
    @include mq(md) {
      display: flex;
      justify-content: space-between;
    } 
    
  }
  
  &__logo-image {
    
    @include mq(md) {
      padding-right: 1.5rem;     
    }
    
    
    > img {
      vertical-align: top;
      width: auto;
      height: auto;
      
      @include mq(xs) {
        display: block;
        max-height: 2.8rem;
        margin: 0 auto;
      }
            
      @include mq(sm) {
        display: block;
        max-height: 3.2rem;
        margin: 0 auto;
      }
      
    }
    
  }
  
  &__logo-description {
    @include font(1.1rem, 1.4rem);
    margin-top: 1.5rem;
    text-align: center;
    color: $color-base-light;
    
    @include mq(md) {
      @include font(1.3rem, 1.8rem);
      margin-top: 0;
      padding: .3rem 1.5rem 0;
      border-left: 1px solid #e7e7e7;
      text-align: left;
    }
  
  }
  
  &__switch-box {
    display: flex;
    
    @include mq(xs) {
    }   
    
    @include mq(sm) {
      align-self: center;
    }
  }
  
  &__search-switch {
    position: relative;
    display: inline-block;

    @include mq(sm) {
      margin-right: 1rem;
    }
        
    @include mq(md) {
      display: none;
    }
    

    i {
      @include font(3.2rem,3.2rem);
      position: relative;
      top: .2rem;
      
      color: $color-brand2;
      
      @include mq(sm) {
        @include font(3.6rem,3.6rem);
        top: .4rem;
      }
    }

    
  }
  
  &__lang-box {
    position: relative;
    z-index: 105;
    
    @include mq(xs) {
      display: none;
    }
    
    @include mq(md) {
      margin-left: 3.2rem;
    }

  }
  
  &__lang-switch {  
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    border: 1px solid transparent;
    border-bottom: 0;

    
    @include mq(xs) {
      display: none;
    }
    
    @include mq(md) {

      
    }

    &:hover {
      border-color: $color-base;
      
          
      &:before {
        transform: rotate(180deg);
      }

      > li {
        display: block;

        &:not(last-child) {
          border-color: $color-base;
          padding: 1.3rem 2.3rem 1.1rem 1.3rem;
        }

        &:hover {
          background: $color-base;
          a {
            color: #fff;
          }

        }
      }
    }
    
    &:before {
      content: "\F140";
      display: inline-block;
      font: normal normal normal 24px/1 "Material Design Icons";
      font-size: inherit;
      text-rendering: auto;
      line-height: inherit;
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;
      @include font(1.6rem, 1.6rem);
      position: absolute;
      display: block;
      top: 1.3rem;
      right: .1rem;
      color: $color-brand;
    }
    
  
  }
  
  &__lang-switch-item {
    @include font(1.4rem, 1.4rem);
    display: none;
    order: 2;
    background: #fff;
    
    &:not(last-child) {
      padding: 1.3rem 2.3rem 1.1rem 1.3rem;
      border-bottom: 1px solid transparent;
      
    }
    
    a {
      @include font(1.4rem, 1.4rem);
      pointer-events: none;
      color: $color-base;
      transition: 0;
    }
     
    
  }
    
  &__lang-switch-item[data-active="true"] {
    display: block;
    order: 1;
  }
  
  // for lang switch

  

}




















