mixin about-image-section()

  .section-box.about-image-section
    .container
      p Мы работаем над улучшением качества продукции и повышением стандартов логистического сервиса, основываясь на обратной связи от наших клиентов, а также изучая и применяя передовой европейский опыт. Мы выстраиваем долгосрочные отношения с нашими партнерами основанные на понимании их интересов и задач.