mixin adventage-block()

  section.section-box
    .container
      h2.section-box__big-title Почему это выгодно
      .adventage-block
      
        .adventage-block__item
          .adventage-block__item-image
            img(src='static/img/general/card/ad/1.png' alt='ФомЛайн')
          .adventage-block__item-title Производство в каждом<br>федеральном округе
      
        .adventage-block__item
          .adventage-block__item-image
            img(src='static/img/general/card/ad/2.png' alt='ФомЛайн')
          .adventage-block__item-title Изучение и применение<br>мирового опыта<br>в продуктах и сервисах
      
        .adventage-block__item
          .adventage-block__item-image
            img(src='static/img/general/card/ad/3.png' alt='ФомЛайн')
          .adventage-block__item-title Самый широкий<br>ассортимент пен в России
      
        .adventage-block__item
          .adventage-block__item-image
            img(src='static/img/general/card/ad/4.png' alt='ФомЛайн')
          .adventage-block__item-title Широкая сеть дилеров<br>и представительств
