mixin grid-block()

  article.article-block.typography
    .article-block__grid
      .article-block__grid-item
        .article-block__grid-item-image-box
          img(src='http://placehold.it/540x330/7a40ff' alt='fline')
      .article-block__grid-item
      
        .typography

          p Давно выяснено, что при оценке дизайна и композиции читаемый текст мешает сосредоточиться. Lorem Ipsum используют потому, что тот обеспечивает более или менее стандартное заполнение шаблона.

          p А также реальное распределение букв и пробелов в абзацах, которое не получается при простой дубликации.

          p Так что поиск по ключевым словам "lorem ipsum" сразу показывает, как много веб-страниц всё ещё дожидаются своего настоящего рождения. Показывает, как много веб-страниц всё ещё дожидаются своего настоящего рождения.

        .base-button-box.base-button-box--the-last-in-the-block
          a.gui-link-button(href='#') Вход для партнеров <i class='mdi mdi-chevron-right'></i>



    
