mixin news-block()

  article.article-block.typography
    .article-block__grid
      .article-block__grid-item
        .article-block__grid-item-image-box
          img(src='http://placehold.it/540x350/7a40ff' alt='fline')
          time.article-block__date(datetime="2016-11-12") 12 ноября 2016
      .article-block__grid-item
        .typography

          p В очередной 27 раз в Экспоцентре на Красной Пресне прошла международная выставка «МЕБЕЛЬ-2015». Компания «ФомЛайн» приняла участие в этом знаковом для мебельной отрасли мероприятии.

          p Как обычно, был представлен весь ассортимент пен, выпускаемых предприятиями «ФомЛайн». Особый интерес вызвала подборка пенополиуретанов, которые могут использоваться для производства топперов – дополнительных тонких матрасов. С помощью этого набора пен можно собрать дополнительный матрас — топпер, который позволит создать комфорт для самого требовательного потребителя.

          p Директор по маркетингу и развитию бизнеса «ФомЛайн» Александр Агафонов дал интервью организаторам.

    p В очередной 27 раз в Экспоцентре на Красной Пресне прошла международная выставка «МЕБЕЛЬ-2015». Компания «ФомЛайн» приняла участие в этом знаковом для мебельной отрасли мероприятии.
    
    p Как обычно, был представлен весь ассортимент пен, выпускаемых предприятиями «ФомЛайн». Особый интерес вызвала подборка пенополиуретанов, которые могут использоваться для производства топперов – дополнительных тонких матрасов. С помощью этого набора пен можно собрать дополнительный матрас — топпер, который позволит создать комфорт для самого требовательного потребителя. Директор по маркетингу и развитию бизнеса «ФомЛайн» Александр Агафонов дал интервью организаторам.
    
    iframe(src='https://player.vimeo.com/video/216745735', width='100%', height='', frameborder='0', webkitallowfullscreen='', mozallowfullscreen='', allowfullscreen='')

    
  .base-button-box
    a.gui-link-button.gui-link-button--back-button(href='#') <i class='mdi mdi-chevron-left'></i> Вернуться к списку новостей
    