mixin mobile-menu()
  
  .mobile-fade.js-mobile-fade.js-mobile-menu-close
  .mobile-menu.js-mobile-menu
  
    a.mobile-menu__link(href='') Продукция
    a.mobile-menu__link(href='') О компании
    a.mobile-menu__link.is-active(href='') Документация
    a.mobile-menu__link(href='') Где купить
    a.mobile-menu__link(href='') Партнерам
    a.mobile-menu__link(href='') Новости
    a.mobile-menu__link(href='') Контакты
    
    a.mobile-menu__close.js-mobile-menu-close(href='#')
      i.mdi.mdi-close.js-mobile-menu-close