mixin section-navigate()

  ul.section-navigate
  
    li.section-navigate__item
      a(href='#') Сертификаты 
        
    li.section-navigate__item.is-active
      a(href='#') Технические условия
        
    li.section-navigate__item
      a(href='#') Рекомендации производителя