mixin download-catalog-block()

  .section-box.download-catalog-block
    a.download-catalog-block__button-link(href='#' download)
      i
      p <span> Скачать весь каталог продукции в</span> PDF (590 Кб)
      
    p.download-catalog-block__description-link Узнайте больше, <a href='#'>изучив документацию</a> по всем типам продукции включая124 описания,<br>52 сертификата, и 47 технических испытаний.
  