.download-catalog-block {
  display: flex;
  margin: 4rem 0;
  
  @include mq(xs) {
    flex-direction: column-reverse;
  }
  
  
  &__button-link {
    @include hover(background, $color-brand);
    display: flex;
    background: $color-brand2;

    @include mq(md) {
      width: 28.5rem;
      border-radius: 4px;
      
      @include mq(md) {
        padding: 1rem 2.5rem .6rem 1.6rem;
      }
    }
    
    i {
      display: inline-block;
      background-position: 50% 50%;
      background-repeat: no-repeat;
      background-size: contain;
      background-image: url(../img/general/pdficon.svg);
      
      @include mq(md) {
        width: 2rem;
        height: 3rem;
      }
    }
    
    
    p {
      position: relative;
      top: -.2rem;
      flex: 1;
      margin: 0;
      padding-left: 1.5rem;
      
      @include font(1.1rem,1.6rem);
      color: #fff;

      @include mq(md) {
        @include font(1.3rem,1.8rem);
      }
      
      
      span {
        @include font(1.1rem,1.6rem);
        color: #fff;
        text-decoration: underline;
        
        @include mq(md) {
          @include font(1.3rem,1.4rem);
        }
      }
      
      
    }
    
  }
    
  &__description-link {
    @include text-base();
    
    @include mq(md) {
      padding-left: 3rem;
    }
  }
  
  
  
  
}