mixin category-menu-block()

  section.section-box
    .container
      .category-menu-block

        .category-menu-block__item
          .category-menu-block__item-box
            img(src='static/img/general/category3.jpg' alt='ФомЛайн')
            .category-menu-block__item-content
              h3.category-menu-block__category-title Мебельные пены <i class='mdi mdi-chevron-right'></i>

              ul.category-menu-block__subcategories-menu

                li
                  a(href='#') <i class='mdi mdi-chevron-right'></i> Контурные детали

                li
                  a(href='#') <i class='mdi mdi-chevron-right'></i> Формованные детали

                li
                  a(href='#') <i class='mdi mdi-chevron-right'></i> Рулонные поролон

                li
                  a(href='#') <i class='mdi mdi-chevron-right'></i> Листы

                li
                  a(href='#') <i class='mdi mdi-chevron-right'></i> Блоки

        .category-menu-block__item
          .category-menu-block__item-box
            img(src='static/img/general/category1.jpg' alt='ФомЛайн')
            .category-menu-block__item-content
              h3.category-menu-block__category-title Наполнение для матрасов<br> и подушек <i class='mdi mdi-chevron-right'></i>

              ul.category-menu-block__subcategories-menu

                li
                  a(href='#') <i class='mdi mdi-chevron-right'></i> Контурные детали

                li
                  a(href='#') <i class='mdi mdi-chevron-right'></i> Формованные детали

                li
                  a(href='#') <i class='mdi mdi-chevron-right'></i> Рулонные поролон

                li
                  a(href='#') <i class='mdi mdi-chevron-right'></i> Листы

                li
                  a(href='#') <i class='mdi mdi-chevron-right'></i> Блоки

        .category-menu-block__item
          .category-menu-block__item-box
            img(src='static/img/general/category2.jpg' alt='ФомЛайн')
            .category-menu-block__item-content
              h3.category-menu-block__category-title Виды продукции <i class='mdi mdi-chevron-right'></i>

              ul.category-menu-block__subcategories-menu

                li
                  a(href='#') <i class='mdi mdi-chevron-right'></i> Контурные детали

                li
                  a(href='#') <i class='mdi mdi-chevron-right'></i> Формованные детали

                li
                  a(href='#') <i class='mdi mdi-chevron-right'></i> Рулонные поролон

                li
                  a(href='#') <i class='mdi mdi-chevron-right'></i> Листы

                li
                  a(href='#') <i class='mdi mdi-chevron-right'></i> Блоки

        .category-menu-block__item
          .category-menu-block__item-box
            img(src='static/img/general/category4.jpg' alt='ФомЛайн')
            .category-menu-block__item-content
              h3.category-menu-block__category-title Специальная продукция<br> и детали <i class='mdi mdi-chevron-right'></i>

              ul.category-menu-block__subcategories-menu

                li
                  a(href='#') <i class='mdi mdi-chevron-right'></i> Контурные детали

                li
                  a(href='#') <i class='mdi mdi-chevron-right'></i> Формованные детали

                li
                  a(href='#') <i class='mdi mdi-chevron-right'></i> Рулонные поролон

                li
                  a(href='#') <i class='mdi mdi-chevron-right'></i> Листы

                li
                  a(href='#') <i class='mdi mdi-chevron-right'></i> Блоки



      +download-catalog-block()