mixin popup-form()

  .mobile-fade.js-mobile-fade.js-mobile-menu-close
  .popup-form.js-popup-form
    .popup-form__box
      h2.popup-form__title Форма обратной связи
      form.form
      
        .form__input-block-full
          input(placeholder='Имя')
            
        .form__input-block-full
          input(placeholder='Фамилия')
  
        .form__input-block-full
          input(placeholder='Ваш e-mail')
        
        .form__input-block-full
          select.js-select2(data-placeholder='Регион')
            option Toskana
            option Milan
            option Napoli
             
        .form__input-block-full
          label.label-checkbox
            span.checkbox
              input(type='checkbox')
              span
              i.mdi.mdi-check
            span Согласен с обработкой персональных данных
            
        .form__input-block-full   
          button.gui-link-button Отправить
          
        a.popup-form__close.js-mobile-menu-close(href='#')
          i.mdi.mdi-close
      
  