.product-card {
  display: block;
  margin: 0;
  padding: 0;
  
  @include mq(md) {
    @include grid();
  }
  
  &__slider-box {
    position: relative;
    display: block;
    
    @include mq(xs) {
      margin-top: 1.5rem;
      padding-top: 2rem;
      border-top: 1px solid $color-f-border;
    }
       
    @include mq(sm) {
      display: block;
    }
        
    @include mq(md) {
      @include grid-cols(1,2);
      @include grid-col();
    }
  }
    
  &__description {
    display: block;
    
    p:first-child {
      margin-top: 0;
    }
    
    @include mq(xs) {
      margin-top: 7rem;
    }
        
    @include mq(sm) {
      display: flex;  
      margin-top: 4rem;
    }
        
    @include mq(md) {
      @include grid-cols(1,2);
      @include grid-col();
      display: flex;
      flex-direction: column;
      margin-top: 0;
    }
  }
  
  &__description-content {
    
    p {
      
      @include mq(xs) {
        @include font(1.3rem,1.8rem);
      }

      @include mq(sm) {
        @include font(1.3rem,1.8rem);
        width: 50%;
        padding-right: 4rem;
      }

      @include mq(md) {
        width: 100%;
      } 
      
    }

    
  }
  
  &__description-label {
    display: flex;
    align-items: center;
    background-color: rgb(255, 255, 255);
    box-shadow: 0px 3px 13px 0px rgba(0, 0, 0, 0.1);
    
    @include mq(xs) {
      padding: 1rem;
      margin-top: 3rem; 
    }
    
    @include mq(sm) {
      width: 50%;
      padding: 2rem;
      margin: 0;
    }
    
    @include mq(md) {
      width: 100%;
      padding: 2rem;
      margin-top: auto; 
    }
  }
  
  &__description-label-image {
    
    @include mq(xs) {
      width: 7rem;
    }
        
    @include mq(sm) {
      width: 8.5rem;
    }
        
    @include mq(md) {
      width: 9.5rem;
    }
    
    img {
      width: 100%;
      height: auto;
      vertical-align: top;
    }
  }
    
  &__description-label-content {
    flex: 1;
    width: 100%;
    
    @include mq(xs) {
      width: 7rem;
    }
        
    @include mq(sm) {
      width: 8.5rem;
    }
        
    @include mq(md) {
      width: 9.5rem;
    }
    
    p {
      @include font(1.1rem,1.6rem);
      padding-left: 1rem;
      
      @include mq(md) {
        @include font(1.3rem,1.8rem);
        padding-left: 1.5rem;
      }  
      
      em {
        @include font(1.1rem,1.6rem);
        display: block;
        margin-top: .5rem; 
        color: $color-base-lighter;
        font-style: normal;
      }
      
      span {
        color: #eb8383;
        font-style: normal;
      }
    }
    

  }
  
  
}