mixin product-card()

  .section-box.section-box--min
    .product-card
    
      .product-card__slider-box
        +card-slider()
        
      .product-card__description.typography
        p.product-card__description-content Пены ST или стандартные пены - самая распространенная группа марок плотностью 16-50 кг/3 и жесткостью от 2.0 кПа (16кг/м3) до 5.0 кПа (50кг/м3). Используются в различных деталях мягкой мебели и товаров для сна. Обладают типичными комфортными свойствами.

        .product-card__description-label
        
          .product-card__description-label-image
            img(src='static/img/general/card/label.jpg' alt='ФомЛайн')
       
          .product-card__description-label-content
            p Продукция* сертифицирована в соответствии с европейскими стандартами безопасности пен CertiPUR® <em><span>*</span> Продукция заводов<br>г. Рошаль и г. Санкт-Петербург</em>
            
    .section-box--min.typography
      p Пены ST или стандартные пены - самая распространенная группа марок плотностью 16-50 кг/м3 и жесткостью от 2.0 кПа (16кг/м3) до 5.0 кПа (50кг/м3). Используются в различных деталях мягкой мебели и товаров для сна. Обладают типичными комфортными свойствами.
      
      p По соотношению «цена-качество» стандартные пены не имеют аналогов, тем не менее, в процессе эксплуатации они размягчаются быстрее, чем другие категории пен. Стандартные марки пенополиуретана плотностью от 30 кг/м3 и выше обладают хорошими упругими свойствами, низкой остаточной деформацией и особенно подходят для изготовления сидений кресел, диванов, для производства матрасов и наматрасников.
      
            
         
