mixin search-section()

  .search-section.search-section--center.typography
  
    .search-section__item
      p По вашему запросу ничего не найдено.<br>Попробуйте использовать более общий запрос или найти нужную страницу по карте сайта:
    
    .search-section__item
      form.page-search-block.page-search-block--search-page
        input(type='search' placeholder='Поиск')
        button
          i.mdi.mdi-magnify 
          
          
  .search-section.typography     
          
    .search-section__item.typography 
      a.search-section__link-section(href='#') Главная страница
    
    .search-section__item
      a.search-section__link-section(href='#') Документация


    .search-section__item
      a.search-section__link-section(href='#') Мебельная пена
      
      ul
        li <b>Мебельная пена</b> 
        li Заготовки для матрасов и подушек
        li Комплектующие для мебели и товаров для сна
        li Технические пены
        
    .search-section__item
      a.search-section__link-section(href='#') Где купить
      
      ul
        li Заводы
        li Резательные центры
        li Дилеры
        
          
    .search-section__item.typography 
      a.search-section__link-section(href='#') О компании
    
    .search-section__item
      a.search-section__link-section(href='#') Контакты
