@charset "UTF-8";

// 1. Properties for sticky footer

// Html
html {
  height: 100%; // 1
  font-size: 62.5%;
  -webkit-font-smoothing: antialiased;
  box-sizing: border-box;
  overflow-x: hidden;
}

// Body
body {
  position: relative; // 1
  min-height: 100%;   // 1
  background: #fff;
  font-size: 62.5%;
  color: $color-base;
  font-family: $font-base;
  box-sizing: border-box;
  transition: .4s;
}

.page {
  opacity: 0;
  visibility: hidden
}

main {
  min-height: 100%;
  box-sizing: border-box;
}

.section-box {
  margin: 2rem 0;

  
  @include mq(md) {
    margin: 4rem 0;
  }  
  
  &--min {
     margin: 2rem 0;
    
    @include mq(md) {
      margin: 5rem 0;
    } 
    
  }
  
  &__big-title {
    @include h1();
  }
  
  
  
  &__image {
    display: block;
    margin: 3rem 0;
    
    @include mq(xs) {
      margin: 2rem 0;
    }
    
    
    img {
      width: 100%;
      height: auto;
      vertical-align: top;
    }
  }
  
  
  &--article-page {
    margin-top: 1.5rem;
  }
  
}



.section-buffer {
  @include mq(md) {
    margin: 4rem 0;
  } 
}

// Title

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
  display: block;
}



h1 {
  @include h1()
}

h2 {
  @include h2()
}

h3 {
  @include h3()
}

h4 {
  @include h4()
}

h5 {
  @include h5()
}

h6 {
  @include h6()
}

// Links

a {
  @include hover(color, $color-brand);
  transition: $transition-duration-base;
  color: $color-brand;
  text-decoration: none;
  outline: none;
}

p {
  margin: 0;
  padding: 0;
}

// B
b {
  font: {
    weight: 700;
  }
}

// Blockquote
blockquote {
  margin: 0;
}

// Fieldset
fieldset {
  margin: 0;
  padding: 0;
  border: none;
}

// Figure
figure {
  margin: 0;
}

// Images
img {
  max-width: 100%;

  &[width],
  &[height] {
    max-width: none;
  }
}

// Lists
dl, dd,
ol, ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.typography {
  
  h2 {
    @include h2();
    margin-bottom: 1.5rem;
    
    @include mq(sm) {
      margin-bottom: 2rem;
    }
  }
    
  h3,
  h4,
  h5,
  h6 {
    @include h3();
    margin-bottom: 1.5rem;
  }
  
  
  // Paragraph
  p {
    @include text-base();
    margin: 1.5rem 0;
    
    &:first-child {
      margin-top: 0;
    }      
    &:last-child {
      margin-bottom: 0;
    }  
  }
  
  
  b {
    font-weight: 700;
  }
  
  &__content-reed-more {
    margin-top: 1.5rem;
    
    @include mq(sm) { 
      margin-top: 6rem;
    }
        
    @include mq(md) { 
      margin-top: 4rem;
    }
    
    &--center-mode {
      text-align: center;
    }
    
  } 

  
  
  ul {
    @include text-base();
    margin: 1.5rem 0;
    
    &:first-child {
      margin-top: 0;
    } 
    
    &:last-child {
      margin-bottom: 0;
    }  
  }
  
  li {
    position: relative;
    margin: 1.5rem 0;
    padding-left: 1.8rem;
    
    @include mq(xs) { 
      margin: 1rem 0;
    }
    
    &:before {
      @include size(.5rem);
      position: absolute;
      display: block;
      left: 0;
      top: .6rem;
      border-radius: 50%;
      background: $color-brand2;
      content: ''; 
      
      @include mq(ms) { 
        top: .8rem;
      }   
      
      @include mq(md) { 
        top: .9rem;
      }
    }
  }
  
  
  ol {
    @include text-base();
      margin: 1.5rem 0;
      counter-reset: li;
    
    &:first-child {
      margin-top: 0;
    } 

    &:last-child {
      margin-bottom: 0;
    } 


    li {
      padding: 0;
    }

    li:before {
      @include size(auto);
      opacity: .5;
      top: 0;
      left: auto;
      background: transparent;
      content: counter(li);
      content: counter(li) '. ';
      counter-increment: li;
      position: relative;
      display: inline-block;
      margin-right: 1rem;
      position: relative;
    }
  
      
  }
    
  
  
  img {
    margin: 1.5rem auto;
    max-width: 100%;
    vertical-align: top;
    border-radius: 4px;
    
    &:first-child {
      margin-top: 0;
    }  
    
    &:last-child {
      margin-bottom: 0;
    } 
    
    @include mq(md) { 
      margin: 3rem auto;
    }
  }
  

  
  
  // Video
  &__video {
    position: relative;
    padding-bottom: 56.25%; // 16:9
    height: 0;

    &:not(:first-child) {
      margin-top: 4rem;
    }

    &:not(:last-child) {
      margin-bottom: 4rem;
    }

    > iframe {
      @include size(100%);
      position: absolute;
      top: 0;
      left: 0;
    }
  }

  
  
}





// Small
small {
  @include text-small;
}

// Table
table {
  border-collapse: collapse;
  border-spacing: 0;
}

// Textarea
textarea {
  resize: none;
}
