@charset "UTF-8";

// 1. Properties for sticky footer

// Html
html {
  height: 100%; // 1
  font-size: 62.5%;
  -webkit-font-smoothing: antialiased;
  box-sizing: border-box;
}

// Body
body {
  position: relative; // 1
  min-height: 100%;   // 1
  background: #fff;
  font-size: 62.5%;
  color: $color-base;
  font-family: $font-base;
  box-sizing: border-box;
  transition: .4s;
}

.page {
  opacity: 0;
  visibility: hidden
}

main {
  min-height: 100%;
  box-sizing: border-box;
}

.section-box {
  margin: 4rem 0;
  
  @include mq(md) {
    margin: 7rem 0;
  }  
  
}

// Links
a {
  @include hover(color, $color-brand);
  transition: $transition-duration-base;
  color: $color-brand;
  text-decoration: none;
  outline: none;
}

// B
b {
  font: {
    weight: 700;
  }
}

// Blockquote
blockquote {
  margin: 0;
}

// Fieldset
fieldset {
  margin: 0;
  padding: 0;
  border: none;
}

// Figure
figure {
  margin: 0;
}

// Images
img {
  max-width: 100%;

  &[width],
  &[height] {
    max-width: none;
  }
}

// Lists
dl, dd,
ol, ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

// Title

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
  display: block;
}


h5 {
  @include h5();
}


.typography {
  
  // Paragraph
  p {
    @include text-base();
    margin: 1.5rem 0;
    
    &:last-child {
      margin-bottom: 0;
    }  
  }
  
  
  &__content-reed-more {
    margin-top: 1.5rem;
    
    @include mq(md) { 
      margin-top: 4rem;
    }
    
  } 
  
}





// Small
small {
  @include text-small;
}

// Table
table {
  border-collapse: collapse;
  border-spacing: 0;
}

// Textarea
textarea {
  resize: none;
}

