@charset "UTF-8";


// Hidden
.is-hidden {
  display: none !important;
}

.is-invisible {
  visibility: hidden !important;
}

.not-desktop {
  @include mq(md) {
    display: block !important;
  }
}


.text-align-left {
  text-align: left !important;
}

// Nobr
.nobr {
  white-space: nowrap;
}

.only-mobile {
  display: none !important;
  
  @include mq(xs) {
    display: block !important;
  }
}


.only-desktop {
  display: none !important;
  
  @include mq(md) {
    display: block !important;
  }
  
  &--big-desktop {
    @media (max-width: 1400px) {
      display: none !important;
    }
  }
}

.only-tab {
  display: none !important;
  
  @media (max-width: 1400px) and (min-width: 768px) {
    display: block !important;
  }
}

