@charset "UTF-8";


// Hidden
.is-hidden {
  display: none !important;
}

.is-invisible {
  visibility: hidden !important;
}

.not-desktop {
  @include mq(md) {
    display: block !important;
  }
}


.text-align-left {
  text-align: left !important;
}

// Nobr
.nobr {
  white-space: nowrap;
}

.only-mobile {
  display: none !important;
  
  @include mq(xs) {
    display: block !important;
  }
}


.only-desktop {
  display: none !important;
  
  @include mq(md) {
    display: block !important;
  }
  
  &--big-desktop {
    @media (max-width: 1400px) {
      display: none !important;
    }
  }
}

.only-tab {
  display: none !important;
  
  @media (max-width: 1400px) and (min-width: 768px) {
    display: block !important;
  }
}

// tables

.vertical-top {
  vertical-align: top !important;
}

.vertical-text {
  transform: translate(26%, 145%) rotate(-90deg);
  transform-origin: 0 0;
  width: 3.4rem;
}

ul,
ol {
  padding: 0;
}

ul, menu, dir {
  margin: 0;
}


@media print {
  .is-not-print {
    display: none !important;
  }
}



// select 2

select2-selection select2-selection--single

.select2-container--default .select2-selection--single  {
  height: auto !important;
  border-radius: 0 !important;
  border: 1px solid #b5b5b5 !important;
}

.select2-container .select2-selection--single {
  display: block !important;
  font-size: 1.3rem !important;
  line-height: 1.3rem !important;
  padding: 1.2rem 5rem 1.1rem 1.5rem !important;
  height: auto !important;
  border-radius: 0 !important;
}

.select2-container .select2-selection__rendered {
  font-size: 1.3rem !important;
  line-height: 1.3rem !important;
  display: block !important;
}

.select2-container--open .select2-dropdown--below {
  border-radius: 0 !important;
}

.select2-results__option {
  display: block !important;
  font-size: 1.3rem !important;
  line-height: 1.3rem !important;
  padding: 1.2rem 5rem 1.1rem 1.5rem !important;
  height: auto !important;
  border-radius: 0 !important;
}

.select2-container .select2-selection--single .select2-selection__rendered {
  padding: 0 !important;
}

.select2-container--default .select2-results__option--highlighted[aria-selected] {
  color: #fff !important;
  background: $color-base !important;
  border: 1px solid $color-base !important;
}

.select2-container--default .select2-selection--single {
  outline: none !important;
  border: 1px solid #b5b5b5 !important;
}

.select2-container--default .select2-selection--single .select2-selection__arrow b {
  width: .8rem !important;
  height: .8rem !important;
  border-color: $color-brand;
  
  border-top: 2px solid transparent !important; 
  border-left: 2px solid transparent !important;

  
  border-bottom: 2px solid !important; 
  border-right: 2px solid !important;
  margin: 0 !important;
  transform: translate(-50%,-50%) rotate(45deg);
  transition: $transition-duration-base;
  border-radius: .2px;
    
}

.select2-selection__arrow {
  height: 100% !important;
  width: 3.5rem !important;
  top: 0 !important;
}

.select2-container--open {
  b {
    top: 60% !important;
    transform: translate(-50%,-50%) rotate(225deg) !important;
  }
}