mixin product-table()

  .section-box.product-table
    .product-table__box
    
      table()
        tr
          th Марка
          
          th Кажущаяся плотность, кг/м3, ГОСТ 409-77 (ISO 845)
          
          th Напряжение при сжатии (40% деформация), кПа, ГОСТ 26605-93 (ISO 3386)
          
          th Относительное удлинение при разрыве,не меее, %, ГОСТ 29088-91 (ISO 1798)
          
          th Условная прочность при разрыве, не менее, %, ГОСТ 29088-91 (ISO 1798)
          
          th Остаточная деформация (22 ч, 70 ºC, 50%), %, ГОСТ 29089-9 (ISO 1856)
                    
          th Воздухопрони- цаемость, дм3/с,ГОСТ 29171-91
                              
          th.product-table__no-padding.vertical-top
          
            table.product-table__title-min()
              tr
                td.product-table__no-padding.product-table__title-min Вид продукции ЭППУ
                    
            table.product-table__title-tab()
              tr
              
                td.product-table__padding-min(style='width: 40px')
                  .vertical-text блочный<br>ЭППУ
                      
                td.product-table__padding-min.product-table--h листовой ЭППУ
                      
                td.product-table__padding-min(style='width: 40px')
                  .vertical-text блочный<br>ЭППУ 
                  
                td.product-table__padding-min(style='width: 40px')
                  .vertical-text блочный<br>ЭППУ
                      
                td.product-table__padding-min(style='width: 40px')
                  .vertical-text блочный<br>ЭППУ
          
          th Область применения
          
          
        tr
        
          td ST1620
                
          td 16±0,5
                        
          td 2,5±0,3
                                
          td 120
                                        
          td 80
                                                
          td 4,0-5,0
                                                     
          td 2,6-3,0
        
                                                              
          td.product-table__no-padding
          
            table.product-table__full-tab()
              tr
              
                td +
                      
                td +
                      
                td +
                      
                td +
                      
                td +
                      
                td +
                                                                      
          td Упаковка. Подголовники, подлокотники, сиденья и спинки для дачной, детской мебели и матрасов с коротким сроком эксплуатации до 1 года. В качестве обивки мебели (в том числе «внатяжку»).          
        tr
        
          td ST1620
                
          td 16±0,5
                        
          td 2,5±0,3
                                
          td 120
                                        
          td 80
                                                
          td 4,0-5,0
                                                     
          td 2,6-3,0
        
                                                              
          td.product-table__no-padding
          
            table.product-table__full-tab()
              tr
              
                td +
                      
                td +
                      
                td +
                      
                td +
                      
                td +
                      
                td +
                                                                      
          td Упаковка. Подголовники, подлокотники, сиденья и спинки для дачной, детской мебели и матрасов с коротким сроком эксплуатации до 1 года. В качестве обивки мебели (в том числе «внатяжку»).          
        tr
        
          td ST1620
                
          td 16±0,5
                        
          td 2,5±0,3
                                
          td 120
                                        
          td 80
                                                
          td 4,0-5,0
                                                     
          td 2,6-3,0
        
                                                              
          td.product-table__no-padding
          
            table.product-table__full-tab()
              tr
              
                td +
                      
                td +
                      
                td +
                      
                td +
                      
                td +
                      
                td +
                                                                      
          td Упаковка. Подголовники, подлокотники, сиденья и спинки для дачной, детской мебели и матрасов с коротким сроком эксплуатации до 1 года. В качестве обивки мебели (в том числе «внатяжку»).          
        tr
        
          td ST1620
                
          td 16±0,5
                        
          td 2,5±0,3
                                
          td 120
                                        
          td 80
                                                
          td 4,0-5,0
                                                     
          td 2,6-3,0
        
                                                              
          td.product-table__no-padding
          
            table.product-table__full-tab()
              tr
              
                td +
                      
                td +
                      
                td +
                      
                td +
                      
                td +
                      
                td +
                                                                      
          td Упаковка. Подголовники, подлокотники, сиденья и спинки для дачной, детской мебели и матрасов с коротким сроком эксплуатации до 1 года. В качестве обивки мебели (в том числе «внатяжку»).          
        tr
        
          td ST1620
                
          td 16±0,5
                        
          td 2,5±0,3
                                
          td 120
                                        
          td 80
                                                
          td 4,0-5,0
                                                     
          td 2,6-3,0
        
                                                              
          td.product-table__no-padding
          
            table.product-table__full-tab()
              tr
              
                td +
                      
                td +
                      
                td +
                      
                td +
                      
                td +
                      
                td +
                                                                      
          td Упаковка. Подголовники, подлокотники, сиденья и спинки для дачной, детской мебели и матрасов с коротким сроком эксплуатации до 1 года. В качестве обивки мебели (в том числе «внатяжку»).          
        tr
        
          td ST1620
                
          td 16±0,5
                        
          td 2,5±0,3
                                
          td 120
                                        
          td 80
                                                
          td 4,0-5,0
                                                     
          td 2,6-3,0
        
                                                              
          td.product-table__no-padding
          
            table.product-table__full-tab()
              tr
              
                td +
                      
                td +
                      
                td +
                      
                td +
                      
                td +
                      
                td +
                                                                      
          td Упаковка. Подголовники, подлокотники, сиденья и спинки для дачной, детской мебели и матрасов с коротким сроком эксплуатации до 1 года. В качестве обивки мебели (в том числе «внатяжку»).
        
          